@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.send {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgba(218, 104, 245, 0), rgba(218, 104, 245, 0.5));
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__back {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    &__progress {
        display: flex;
        margin: 5px auto 0 auto;
        z-index: 10;

        &__full {
            border-radius: 50px;
            margin-right: 5px;
            width: 4px;
            height: 4px;
            background-color: #ffffff;
        }

        &__empty {
            margin-right: 5px;
            border-radius: 50px;
            width: 4px;
            height: 4px;
            opacity: .4;
            background-color: #ffffff;
        }
    }

    &__container {
        z-index: 10;
        display: flex;
        color: #ffffff;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        flex-grow: 1; 

        &__content {
            display: flex;
            flex-direction: column;
            flex: 1;
            width:calc(100% - 20px);

            &__send-to,
            &__amount,
            &__fee {
                margin-top: 30px;
                font-family: 'ProximaNovaBold', sans-serif;
                opacity: 0.5;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__fee-value,
            &__amount-value {
                margin-top: 7px;
                font-family: 'ProximaNovaSemiBold', sans-serif;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.34px;
                color: #c061e0;
            }

            &__address {
                word-wrap: break-word;
                max-width: 335px;
                margin-top: 7px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
            }

            &__info {
                width: 335px;
                margin-top: 30px;
                font-family: 'ProximaNovaIT', sans-serif;
                font-size: 14px;
                opacity: .4;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }

            &__button {
                margin: auto auto 20px auto;

                @include ui-button($btn-send, $btn-md) {
                    margin-right: 7px;
                }
    
                @include ui-button-send-icon()
            }
        }
    }
}

.send.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.send-button {
    @include ui-button($btn-send, $btn-md) {
        margin-right: 7px;
    }
}

.back-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.right-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}