@import 'ui-mixins';
@import './styles';

.transaction {
    cursor: pointer;
    
    &__common {
        display: flex;
        flex-direction: column;
        min-height: 105px;
        padding: 22px 20px 15px 20px;

        &__top-content {
            align-items: center;
            display: flex;
            flex-direction: row;

            &__text {
                @include normal-text;
                font-family: 'ProximaNovaBold', sans-serif;
                margin-left: 15px;
                font-size: 14px;
                font-weight: bold;
                color: #ffffff;
            }

            &__actions {
                margin-left: auto;
            }
        }

        &__mid-content {
            @include normal-text;
            display: flex;
            flex-direction: row;
            margin-left: 35px;
            margin-top: 4px;
            font-size: 14px;
            color: #0bccf7;
            font-family: 'ProximaNovaIT', sans-serif;

            &__value {
                @include normal-text;
                margin-left: auto;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 16px;
                font-weight: bold;
            }
        }

        &__created {
            @include normal-text;
            opacity: .5;
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            color: #ffffff;
            margin-top: 5px;
            margin-left: 35px;
        }
    }
}

.tr-comment {
    @include normal-text;
    opacity: .5;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-left: 35px;
    display: flex;
    margin-top: 5px;

    &__text {
        margin-left: 15px;
    }
}