<div class="confirm" [class.validated]="isPassValidated" appClickOutside (clickOutside)="closePopup()">
    <div class="confirm__title">Change password</div>
    <form class="confirm__form" [formGroup]="confirmForm" autocomplete="off" novalidate>
        <ng-container *ngIf="isPassValidated">
            <input  class="confirm__form__input" #passInput [class.incorrect]="emptyPass || isSameOld"
                placeholder="Create new password" (input)="passInputUpdated($event)"
                name="password" type="password" formControlName="newPassword"/>
            <div class="confirm__form__validator" *ngIf="emptyPass">Please, enter password</div>
            <app-password [password]="passInput.value"></app-password>
            <input class="confirm__form__input" #passConfirmInput 
                [class.incorrect]="!isNewPassValidated || emptyConfirmPass || isSameOld"
                placeholder="Confirm new password" (input)="passInputUpdated($event)"
                name="newPasswordConfirm" type="password" formControlName="newPasswordConfirm"/>
            <div class="confirm__form__validator" *ngIf="!isNewPassValidated">Passwords do not match</div>
            <div class="confirm__form__validator" *ngIf="emptyConfirmPass">Please, confirm password</div>
            <div class="confirm__form__validator" *ngIf="isSameOld">New password cannot be the same as old</div>
        </ng-container>
        <ng-container *ngIf="!isPassValidated">
            <input class="confirm__form__input" type="password" #passInput
                name="password" formControlName="password" [class.incorrect]="!isCorrectPass"
                (input)="passUpdated($event)"
                placeholder="Enter your current password"/>
                {{ passInput.focus() }}
            <div class="confirm__form__validator" *ngIf="!isCorrectPass">Incorrect password</div>
        </ng-container>
    </form>
    <div class="confirm__controls" [class.incorrect]="!isCorrectPass">
        <div class="confirm__controls__cancel">
            <app-button class="copy-button" (click)="cancelClicked($event)" >cancel</app-button>
        </div>
        <div class="confirm__controls__next" *ngIf="!isPassValidated">
            <app-button class="copy-button" (click)="submit($event)" >ok</app-button>
        </div>
        <ng-container *ngIf="isPassValidated">
            <div class="confirm__controls__confirm">
                <app-button class="copy-button" (click)="validatedSubmit($event)">ok</app-button>
            </div>
        </ng-container>
    </div>
</div>
