<div class="report" appClickOutside (clickOutside)="closePopup()">
    <div class="report__title">Report a problem</div>
    <div class="report__content">
        <ng-container *ngIf="isFullScreen">
            <p>To report a problem:</p>
            <p>1. Click “Save wallet logs” and choose a destination folder for log archive</p>
            <p>2. Send email to <span class="report-link" (click)="mailToClicked()">support@beam.mw</span> or open 
                a ticket in <span class="report-link" (click)="githubLinkClicked()">Github</span></p>
            <p>3. Don’t forget to attach logs archive</p>
        </ng-container>
        
        <ng-container *ngIf="!isFullScreen">
            <p>To report a problem:</p>
            <p>1. Click “Save logs” and choose a destination</p>
            <p>folder for log archive</p>
            <p>2. Send email to <span class="report-link" (click)="mailToClicked()">support@beam.mw</span> or open a</p>
            <p>in <span class="report-link" (click)="githubLinkClicked()">Github</span></p>
            <p>3. Don’t forget to attach logs archive</p>
        </ng-container>
    </div>
    <div class="report__controls">
        <div class="report__controls__cancel">
            <app-button class="copy-button" (click)="cancelClicked($event)">cancel</app-button>
        </div>
        <div class="report__controls__save">
            <app-button class="copy-button" (click)="saveLogsClicked($event)">
                <ng-container *ngIf="isFullScreen">save wallet logs</ng-container>
                <ng-container *ngIf="!isFullScreen">save logs</ng-container>
            </app-button>
        </div>
    </div>
</div>