<div class="pass-strength">
    <div class="pass-strength__progress" [class.ext-screen]="!isFullScreen">
        <ng-container *ngFor="let item of _mainStrengthItems">
            <div class="common-item" [style.background-color]="color"></div>
        </ng-container>
        <ng-container *ngFor="let item of _commonStrengthItems">
            <div class="pass-strength__progress__item common-item"></div>
        </ng-container>
    </div>
    <div class="pass-strength__str pass-info-text" *ngIf="strength > 0 && strengthString.length > 0">
        {{strengthString}} password
    </div>
    <div class="pass-strength__info pass-info-text">
        <p>Strong password needs to meet the following requirements:</p>
        <p>•  the length must be at least 10 characters</p>
        <p>•  must contain at least one lowercase letter</p>
        <p>•  must contain at least one uppercase letter</p>
        <p>•  must contain at least one number</p>
    </div>
</div>