.pass-strength {
    margin-top: 10px;

    &__progress {
        display: flex;
        flex-direction: row;
        width: 315px;
        height: 6px;
        
        align-content: space-between;
        justify-content: space-between;

        &__item {
            opacity: 0.1;
            border: solid 1px #ffffff;
        }
    }

    &__progress.ext-screen {
        width: 296px;
    }

    &__info {
        margin-top: 20px;
    }

    &__info p {
        margin: 2px 0;
    }

    &__str {
        margin-top: 20px;
    }
}

.common-item {
    width: 45px;
    height: 6px;
    border-radius: 3px;
}

.pass-info-text {
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

@media (min-width: 400px) {
    .pass-strength {
        margin-top: 10px;
    
        &__progress {
            display: flex;
            flex-direction: row;
            width: 400px;
            height: 4px;
            
            align-content: space-between;
            justify-content: space-between;
    
            &__item {
                opacity: 0.1;
                border: solid 1px #ffffff;
            }
        }
    
        &__info {
            margin-top: 20px;
        }
    
        &__info p {
            margin: 2px 0;
        }
    
        &__str {
            margin-top: 20px;
        }
    }
    
    .common-item {
        width: 60px;
        height: 4px;
        border-radius: 3px;
    }
    
    .pass-info-text {
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
}