@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.receive {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgba(218, 104, 245, 0), rgba(218, 104, 245, 0.45));
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__menu {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 3px;
            text-align: center;
        }

        &__privacy-control {
            margin-right: 20px;
            cursor: pointer;
        }
    }

    &__content {
        z-index: 10;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex-grow: 1;

        &__comment-header,
        &__amount-header {
            margin-top: 30px;
        }

        &__comment,
        &__amount {
            margin-top: 10px;
            background: rgba(255, 255, 255, 0);
            font-family: 'ProximaNova', sans-serif;
            border: none;
            width: 259px;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            resize:none;
            max-height: 40px;
        }

        &__comment {
            width: 335px;
        }

        &__comment:focus,
        &__amount:focus {
            font-family: 'ProximaNova', sans-serif;
            outline-width: 0;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }

        &__amount,
        &__amount:focus {
            font-family: 'ProximaNovaSemiBold', sans-serif;
            font-size: 18px;
            font-weight: 600;;
            letter-spacing: 0.34px;
            color: #0bccf7;
        }

        &__comment::placeholder,
        &__amount::placeholder {
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(255, 255, 255, .3);
        }

        &__beam {
            font-family: 'ProximaNova', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2.4px;
            text-align: right;
            color: #ffffff;
            margin-left: 20px;
        }

        &__info {
            margin-top: 30px;
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            max-width: 335px;
        }

        &__controls {
            display: flex;
            flex-direction: column;
            margin-top: auto;
        }

        &__button-qr {
            margin: 20px auto 10px auto;

            @include ui-button($btn-show-qr, $btn-md) {
                margin-right: 7px;
                color: #ffffff;
            }

            @include ui-button-qr-icon()
        }

        &__button-copy {
            margin: 10px auto 20px auto;

            @include ui-button($btn-receive, $btn-md) {
                width: 241px;
            }

            @include ui-button-copy-icon()
        }
    }
}

.address-value {
    margin-top: 17px;
    max-width: 335px;
    word-wrap: break-word;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

@media (min-width: 400px) {
    .switch {
        display: flex;
        align-items: center;
        font-size: 14px;
        height: 30px;
        line-height: normal;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        position: relative;
        margin-top: 20px;
    }
      
    .switch__regular,
    .switch__maxprivacy {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        cursor: pointer;
        position: relative;
        display: block;
        float: left;
        -webkit-transition: 300ms ease-in;
        -moz-transition: 300ms ease-in;
        transition: 300ms ease-in;
        padding: 0 3em;
        opacity: 0.5;
        font-size: 14px;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    .switch__regular.selected,
    .switch__maxprivacy.selected {
        color: rgba(255, 255, 255, 0);
    }
    
    .selector {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        min-width: 80px;
        box-sizing: border-box;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        transition: 300ms ease-out;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 600;
        height: 30px;
        text-align: center;
        cursor: default;
        border: solid 1px #00f6d2;
        background-color: rgba(0, 252, 207, 0.1);
        color: #00f6d2;
        opacity: 1;
    }

    .container-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        cursor: default;

        &__control {
            display: flex;
        }
    }

    .container-header.expandable {
        cursor: pointer;
    }

    .container-header span {
        @include normal-text;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3.11px;
        color: #ffffff;
    }

    .amount-currency {
        width: 105px;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        
        &__logo {
            height: 26px;
            width: 26px;
        }

        &__currency {
            @include normal-text;
            font-family: 'ProximaNova', sans-serif;
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 0.6px;
            color: #ffffff;
            margin-left: 10px;
            cursor: default;
        }
    }

    .left-row {
        width: calc((100% - 10px) / 2);

        &__tr-type,
        &__amount,
        &__comment {
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.05);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__amount,
        &__comment {
            margin-top: 10px;
        }

        &__amount {
            display: flex;
            flex-direction: column;

            &__content {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                line-height: .8;
                width: 100%;

                &__input {
                    @include normal-text;
                    background: rgba(255, 255, 255, 0);
                    font-family: 'ProximaNova', sans-serif;
                    border: none;
                    width: calc(100% - 110px);
                    border-bottom: 1px solid rgba(255, 255, 255, .1);
                    resize: none;
                    font-size: 36px;
                    font-weight: 300;
                    letter-spacing: 0.68px;
                    color: #0bccf7;
                    max-height: 50px;
                }

                &__input:focus {
                    @include normal-text;
                    font-family: 'ProximaNova', sans-serif;
                    outline-width: 0;
                    font-size: 36px;
                    font-weight: 300;
                    letter-spacing: 0.68px;
                    color: #0bccf7;
                }

                &__input::placeholder {
                    @include normal-text;
                    font-family: 'ProximaNova', sans-serif;
                    font-size: 36px;
                    font-weight: 300;
                    letter-spacing: 0.68px;
                    color: #0bccf7;
                }
            }

            &__subcontent {
                margin-top: 5px;
                font-family: 'ProximaNova', sans-serif;
                @include normal-text;
                opacity: 0.7;
                font-size: 14px;
                font-weight: 300;
                color: #ffffff;
            }
        }

        &__comment {
            display: flex;
            flex-direction: column;

            &__content {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                line-height: .8;
                width: 100%;

                &__input {
                    @include normal-text;
                    background: rgba(255, 255, 255, 0);
                    font-family: 'ProximaNova', sans-serif;
                    border: none;
                    width: 100%;
                    border-bottom: 1px solid rgba(255, 255, 255, .1);
                    resize: none;
                    font-size: 14px;
                    letter-spacing: 0.26px;
                    color: #ffffff;
                    max-height: 50px;
                }

                &__input:focus {
                    @include normal-text;
                    font-family: 'ProximaNova', sans-serif;
                    outline-width: 0;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.68px;
                    color: #ffffff;
                }

                &__input::placeholder {
                    @include normal-text;
                    font-family: 'ProximaNova', sans-serif;
                    font-size: 14px;
                    color: rgba(255, 255, 255, .3);
                }
            }
        }
    }

    .right-row {
        width: calc((100% - 10px) / 2);
        margin-left: 10px;

        &__address {
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.1);

            &__content {
                margin-top: 20px ;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
              
                &__qr {
                    display: flex;
                }

                &__address {
                    margin-top: 20px;

                    &__value {
                        @include normal-text;
                        display: flex;
                        font-family: 'ProximaNova', sans-serif;
                        font-size: 14px;
                        color: #ffffff;
                    }

                    &__icon {
                        margin-left: 12px;
                        cursor: pointer;
                    }

                    &__details {
                        width: 98px;
                        @include normal-text;
                        margin-top: 10px;
                        cursor: pointer;
                        font-family: 'ProximaNova', sans-serif;
                        font-size: 14px;
                        line-height: 1.29;
                        color: #0bccf7;
                    }
                }
            }
        }
    }

    .receive {
        height: 100%;

        &__top-gradient {
            height: 180px;
        }
        
        &__container {
            height: 100%;
            z-index: 10;
            padding: 30px 20px 0 90px;
            display: flex;
            flex-direction: column;
        
            &__content {
                display: flex;
                margin-top: 30px;
            }

            &__bottom {
                margin-top: 30px;
                align-self: center;
    
                &__controls {
                    display: flex;
                    justify-content: center;
    
                    &__button-copy {
            
                        @include ui-button($btn-receive, $btn-full-lg) {
                            width: 186px;
                        }
            
                        @include ui-button-copy-icon()
                    }
                }

                &__info {
                    @include normal-text;
                    margin-top: 30px;
                    max-width: 370px;
                    opacity: 0.5;
                    font-family: 'ProximaNovaIT', sans-serif;
                    font-size: 14px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .asset-selector {
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;
    
        &__selected {
            display: flex;
            align-items: center;
            cursor: pointer;
    
            &__arrow {
                margin-left: 5px;
                width: 0; 
                height: 0; 
                border-left: 4.5px solid transparent;
                border-right: 4.5px solid transparent;
                border-top: 5px solid #8da1ad;
            }
    
            &__name {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 16px;
                color: #ffffff;
                margin-left: 10px;
                margin-left: 10px;
            }
         
            &__icon {
                width: 22px;
                height: 22px;
                display: flex;
            }
        }
    
        &__dropdown {
            @include normal-text;
            font-family: 'ProximaNova', sans-serif;
            position: absolute;
            width: 100px;
            color: #92abba;
            margin-top: 40px;
            border-radius: 10px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.14);
            background-color: #003f6f;
            z-index: 10;
        
            &__content {
                margin: 10px 0;
            }
        
            &__column {
                padding: 0;
                margin: 0;
            }
        
            &__item {
                padding: 5px 10px;
                list-style-type: none;
                cursor: pointer;
                display: flex;
                align-items: center;
    
                &__icon {
                    width: 18px;
                    height: 18px;
                }
    
                &__name {
                    margin-left: 5px;
                    font-size: 13px;
                }
            }
        
            &__item:hover {
                background-color: rgba(255, 255, 255, .07);
                color: #e4f5ff;;
            }
        
            &__item.active {
                color: #00f6d2;
            }
        }
    }
}

.receive.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.content-header {
    opacity: 0.5;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.menu-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.save-addr-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}

.transaction-item:nth-child(odd)  {
    background-color: rgba(255, 255, 255, 0.03);
}