@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.addresses {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(3, 91, 143, 0), #035b8f);
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__menu {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 3px;
            text-align: center;
        }

        &__privacy-control {
            margin-right: 20px;
            cursor: pointer;
        }
    }

    &__list {
        z-index: 10;
        margin-top: 35px;
        display: flex;
        flex-direction: column;

        &__header {
            margin: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title {
                opacity: 0.5;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #ffffff;
            }
        }

        &__items {
            margin-top: 10px;
        }
    }
}

@media (min-width: 400px) {
    .addresses {
        &__top-gradient {
            height: 180px;
        }  

        &__content {
            z-index: 10;
            padding: 30px 20px 0 90px;

            &__empty {
                display: flex;
                flex-direction: column;
                margin: 80px auto 0 auto;            
                padding-right: 70px;

                &__icon {
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                }
        
                &__text {
                    opacity: 0.5;
                    font-family: 'ProximaNova', sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                    width: 170px;
                    margin: 20px auto 0 auto;
                }
            }

            &__header {
                font-family: 'SFUIDisplay-Medium', sans-serif;
                font-size: 36px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
            }

            &__selector {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
            }
        }
    }

    .selector {
        cursor: pointer;
        &__title {
            margin: 3px 15px;
            font-family: 'ProximaNovaSemiBold', sans-serif;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #92abba;
        }

        &__title:hover,
        &__title.active {
            color: #00f6d2;
        }

        &__bottom-line {
            width: 100%;
            height: 2px;
            box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
            background-color: #00f6d2;
        }
    }
}

.addresses.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.menu-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.save-addr-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}

.address-item:nth-child(odd)  {
    background-color: rgba(255, 255, 255, 0.03);
}