<ng-container *ngIf="!active">
    <app-login-form (submitted)="walletActivated($event)"></app-login-form>      
</ng-container>
<ng-container *ngIf="active">
    <!-- <div> Available {{available}}</div>
    <div> Height {{currentHeight}}</div>
    <div>Addresses list:</div>
    <div *ngFor="let item of data">
        <div>Index {{item.index}}</div>
        <div>Address {{item.address}}</div>
        <div>Created {{item.created}}</div>
    </div> -->
    <mat-sidenav-container class="example-container">
        <mat-sidenav class="sidenav-container" mode="side" opened>
           <mat-nav-list class="sidenav-list">
            <img class="logo-image" src="../../../assets/img/logo.png" alt="">
            <!-- <a *ngFor="let item of walletRoutes"
               mat-list-item
               (click)="sidenavItemClicked(item)"
               class="sidenav-list-item">
              <img [className]="'sidenav-image ' + item.icon"  [class.active]="item.title == activeSidenavItem.title" alt="">
            </a> -->
            <img [className]="'sidenav-image icon-wallet active'" alt="">
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="wallet-transactions-container">
                <div class="wallet-title-container">
                    <div class="wallet-info">
                        <h1 class="wallet-title">{{ title }}</h1>
                        <div class="status-icon"></div>
                        <span class="status-title">online ({{walletStatus.currentHeight}})</span>
                      </div>                      
                    <button *ngIf="fullView" mat-raised-button class="receive-button" (click)="expandedView()">Expanded view</button>
                    <button mat-raised-button class="send-button" (click)="toSend()">Send</button>  
                  <!--<button mat-raised-button (click)="sendClicked()" class="send-button">
                    <img src="../../../assets/img/icon-send-blue.png" class="icon-send-blue">
                    send
                  </button>
                  <button mat-raised-button (click)="swapClicked()" class="swap-button">
                    <img src="../../../assets/img/icon-swap.svg" class="icon-swap">
                    swap
                  </button> -->
                </div>
              
                <div class="status-cards-container" *ngIf="!status_loading">
                  <mat-card class="block-card available-card">
                    <mat-card-header class="block-card-header">
                      <mat-card-subtitle class="block-card-header-title">Available</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="block-card-content">
                      <span class="block-card-content-available"> {{walletStatus.available}} </span>
                      <span class="block-card-content-beam">BEAM</span>
                    </mat-card-content>
                  </mat-card>
              
                  <mat-card class="block-card height-card">
                    <mat-card-header class="block-card-header">
                      <mat-card-subtitle class="block-card-header-title">In progress</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="block-card-content">
                      <div class="card-container">
                        <span class="receiving-container">
                          <h2 class="title">RECEIVING</h2>
                          <div class="value">{{walletStatus.receiving}}</div>
                          <img src="../../../assets/img/icon-receiving.svg" class="icon">
                        </span>
                        <span class="sending-container">
                          <h2 class="title">SENDING</h2>
                          <div class="value">{{walletStatus.sending}}</div>
                          <img src="../../../assets/img/icon-sending.svg" class="icon">
                        </span>
                        <span class="maturing-container">
                          <h2 class="title">MATURING</h2>
                          <div class="value">{{walletStatus.maturing}}</div>
                          <img src="../../../assets/img/icon-maturing.svg" class="icon">
                        </span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              
                <div class="table-container" *ngIf="addresses$ | async as addresses">
                  <div class="transactions-table">
                    <mat-table [dataSource]="addresses" class="mat-elevation-z8">
                      <ng-container matColumnDef="address">
                        <mat-header-cell class="address-cell-header" *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell class="cell address-cell" *matCellDef="let element">
                            <span class="table-label">
                                {{element.address}}
                            </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="created">
                        <mat-header-cell class="created-cell-header" *matHeaderCellDef> Created </mat-header-cell>
                        <mat-cell class="cell created-cell" *matCellDef="let element">
                            <span class="table-label">
                                {{element.create_time*1000 | date:"dd.MM.yyyy HH:mm"}}
                            </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="comment">
                        <mat-header-cell class="comment-cell-header" *matHeaderCellDef> Comment </mat-header-cell>
                        <mat-cell class="cell comment-cell" *matCellDef="let element">
                            <span class="table-label">
                                {{element.comment}}
                            </span>
                        </mat-cell>
                      </ng-container>
            
                      <mat-header-row class="transactions-table-header" *matHeaderRowDef="addressesColumns;"></mat-header-row>
                      <mat-row class="transactions-table-row" *matRowDef="let row; columns: addressesColumns;"></mat-row>
                    </mat-table>
                  </div>
                </div>

                <div class="table-container" *ngIf="utxos$ | async as addresses">
                  <div class="transactions-table">
                    <mat-table [dataSource]="addresses" class="mat-elevation-z8">
                      <ng-container matColumnDef="utxo">
                        <mat-header-cell class="address-cell-header" *matHeaderCellDef> UTXO </mat-header-cell>
                        <mat-cell class="cell address-cell" *matCellDef="let element">
                            <span class="table-label">
                                {{element.id}}
                            </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="amount">
                        <mat-header-cell class="created-cell-header" *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell class="cell created-cell" *matCellDef="let element">
                            <span class="table-label">
                                {{element.amount}}
                            </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="status">
                        <mat-header-cell class="comment-cell-header" *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell class="cell comment-cell" *matCellDef="let element">
                            <span class="table-label">
                                {{element.status_string}}
                            </span>
                        </mat-cell>
                      </ng-container>
            
                      <mat-header-row class="transactions-table-header" *matHeaderRowDef="utxoColumns;"></mat-header-row>
                      <mat-row class="transactions-table-row" *matRowDef="let row; columns: utxoColumns;"></mat-row>
                    </mat-table>
                  </div>
                </div>

                <div class="table-container" *ngIf="transactions$ | async as transactions">
                    <div class="transactions-table" *ngIf="transactions.length > 0">
                      <mat-table [dataSource]="transactions" class="mat-elevation-z8">
                        <ng-container matColumnDef="sender">
                          <mat-header-cell class="address-cell-header" *matHeaderCellDef> Sender </mat-header-cell>
                          <mat-cell class="cell address-cell" *matCellDef="let element">
                              <span class="table-label">
                                  {{element.sender}}
                              </span>
                          </mat-cell>
                        </ng-container>
  
                        <ng-container matColumnDef="value">
                          <mat-header-cell class="created-cell-header" *matHeaderCellDef> Value </mat-header-cell>
                          <mat-cell class="cell created-cell" *matCellDef="let element">
                              <span class="table-label">
                                  {{element.value}}
                              </span>
                          </mat-cell>
                        </ng-container>
  
                        <ng-container matColumnDef="txId">
                          <mat-header-cell class="comment-cell-header" *matHeaderCellDef> Id </mat-header-cell>
                          <mat-cell class="cell comment-cell" *matCellDef="let element">
                              <span class="table-label">
                                  {{element.txId}}
                              </span>
                          </mat-cell>
                        </ng-container>
              
                        <mat-header-row class="transactions-table-header" *matHeaderRowDef="transcationsColumns;"></mat-header-row>
                        <mat-row class="transactions-table-row" *matRowDef="let row; columns: transcationsColumns;"></mat-row>
                      </mat-table>
                    </div>
                  </div>
              </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
</ng-container>