<div class="restore">
    <ng-container *ngIf="!isFullScreen">
        <div class="restore__header">
            <div class="menu-control-wrapper">
                <img class="restore__header__menu" (click)="backClicked($event)" [src]="iconBack"/>
            </div>
            <div class="title-wrapper">
                <div class="restore__header__title">RESTORE WALLET</div>
            </div>
            <div class="save-addr-control-wrapper"></div>
        </div>

        <div class="restore__subtitle">
            Type in your seed phrase
        </div>
    
        <div class="restore__mid-content">
            <div class="restore__mid-content__item" *ngFor="let item of seedState; let i = index">
                <div class="restore__mid-content__item__circle"
                    [class.error]="item.inProgress && !item.allowed"
                    [class.confirmed]="!item.inProgress && item.allowed"> {{item.index}} </div>
                <input class="restore__mid-content__item__input" 
                    [class.error]="item.inProgress && !item.allowed"
                    (input)="wordInputUpdated($event, item)" type="text"/>
            </div>
        </div>
        <div class="restore__bottom-content">
            <app-button class="restore__bottom-content__next-button"
                        [class.disabled]="!seedConfirmed"
                        (click)="nextClicked()">
                next
            </app-button>
        </div>
        <div class="restore__top-gradient"></div>
    </ng-container>
    <ng-container *ngIf="isFullScreen">
        <div class="restore__top-content">
            <div class="restore__top-content__header">Restore wallet</div>
            <div class="restore__top-content__text">
                Type in your seed phrase
            </div>
        </div>
        <div class="confirm__mid-content">
            <div class="confirm__mid-content__item" *ngFor="let item of seedStateToConfirm">
                <div class="confirm__mid-content__item__circle"
                     [class.error]="item.inProgress && !item.confirmed"
                     [class.confirmed]="!item.inProgress && item.confirmed"> {{item.index + 1}} </div>
                <input class="confirm__mid-content__item__input" 
                       [class.error]="item.inProgress && !item.confirmed"
                       (input)="wordInputUpdated($event, item)" type="text"/>
            </div>
        </div>
        <div class="confirm__bottom-content">
            <app-button class="confirm__bottom-content__back-button" (click)="backClicked($event)">back</app-button>
            <app-button class="confirm__bottom-content__next-button"
                        [class.disabled]="!seedConfirmed"
                        (click)="nextClicked()">
                next
            </app-button>
        </div>
    </ng-container>
</div>