@import './styles';

/// Creates a button with predefined or custom theme
///
/// @group UI-Buttons
///
/// @param {String} $theme [$btn-dark-blue] - theme name
/// @param {String} $size [$btn-md] - size
/// @param {Bool} $with-icon [false] - is button contain icon flag

@mixin ui-button($theme: $btn-receive, $size: $btn-md, $rounded: true) {

  ::ng-deep {
    appearance: none;

    button {
      @if ($theme == $btn-send) {
        background-color: #da68f5;
        color: #032e49;

        &:not([disabled]) {
          &:hover,
          &:active {
            background-color: #da68f9;
          }
        }
      }

      @if ($theme == $btn-receive) {
        background-color: #0bccf7;
        color: #032e49;

        &:not([disabled]) {
          &:hover,
          &:active {
            background-color: #0bccf7;
          }
        }
      }

      @if ($theme == $btn-open-wallet) {
        background-color: #00f6d2;
        color: #032e49;

        &:not([disabled]) {
          &:hover,
          &:active {
            background-color: #00f6d2;
          }
        }
      }

      @if($size == $btn-md) {
        height: 44px;
        width: 164px;
      }

      @if($size == $btn-lg) {
        height: 44px;
        width: 253px;
      }
    }

    ::ng-deep {

      button {
        @if($rounded == $btn-rounded) {
          border-radius: 50px;
        }

        transition: background-color .1s ease-out;
        @content;
      }
    }

  }
}

@mixin ui-button-receive-icon {
  ::ng-deep {
    .ui-button__inner-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;

      .ui-button__icon {
        background: url('/assets/images/shared/components/button/ic-receive-blue.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;

        @content;
      }

      .ui-button__text {
        margin-left: 10px;
        font-family: 'ProximaNovaBold', sans-serif;
      }
    }
  }
}

@mixin ui-button-send-icon {
  ::ng-deep {
    .ui-button__inner-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;

      .ui-button__icon {
        background: url('/assets/images/shared/components/button/ic-send-blue.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;

        @content;
      }

      .ui-button__text {
        margin-left: 10px;
        font-family: 'ProximaNovaBold', sans-serif;
      }
    }
  }
}

@mixin ui-button-next-icon {
  ::ng-deep {
    .ui-button__inner-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;

      .ui-button__icon {
        background: url('/assets/images/shared/components/button/ic-send-blue-copy.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;

        @content;
      }

      .ui-button__text {
        margin-left: 10px;
        font-family: 'ProximaNovaBold', sans-serif;
      }
    }
  }
}

@mixin ui-button-open-wallet-icon {
  ::ng-deep {
    .ui-button__inner-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;

      .ui-button__icon {
        background: url('/assets/images/modules/wallet/containers/login/icon-wallet-small.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;

        @content;
      }

      .ui-button__text {
        margin-left: 10px;
        font-family: 'ProximaNovaBold', sans-serif;
      }
    }
  }
}