<div class="example-container">
    <div class="container">
        <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
            <div class="form-group">
                <label class="pass-title">Enter wallet password:</label>
                <input class="form-control" name="password" formControlName="walletPassword" 
                    placeholder="Enter wallet password"/>
            </div>
            <div class="form-group">
                <button class="receive-button btn btn-default">
                    Open wallet
                </button>
            </div>
        </form>
        <button class="send-button btn btn-default" (click)="clearLocalStorage()">
            Delete wallet
        </button>
    </div>
</div>