<section class="wallet-addresses-container">
  <div class="wallet-title-container">
    <app-status-title class="wallet-title-element" [title]="'Addresses'"></app-status-title>
  </div>
  <mat-tab-group class="tab-container">
    <mat-tab label="MY ACTIVE ADDRESSES">
      <div class="table-container">
        <div class="utxo-table">
          <mat-table matSort *ngIf="!addresses_loading" [dataSource]="active_addresses_list" class="mat-elevation-z8">
            <ng-container matColumnDef="comment">
              <mat-header-cell class="comment-cell-header" *matHeaderCellDef> Comment </mat-header-cell>
              <mat-cell class="comment-cell" *matCellDef="let element">
                <span class="table-label">

                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
              <mat-header-cell class="address-cell-header" *matHeaderCellDef> Address </mat-header-cell>
              <mat-cell class="address-cell" *matCellDef="let element">
                <span class="table-label">
                  {{element.address}}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="category">
              <mat-header-cell class="category-cell-header" *matHeaderCellDef> Category </mat-header-cell>
              <mat-cell class="category-cell" *matCellDef="let element">
                <span class="table-label">
                  {{ element.category }}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="exp_date">
              <mat-header-cell *matHeaderCellDef> Expiration date: </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="table-label">
                  {{element.create_time*1000 + element.duration*1000 | date:"dd.MM.yyyy HH:mm"}}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef> Created: </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="table-label">
                  {{element.create_time*1000 | date:"dd.MM.yyyy HH:mm" }}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell class="actions-header" *matHeaderCellDef> </mat-header-cell>
              <mat-cell class="cell actions-cell" *matCellDef="let element">
                <div class="options-selector">
                  <img class="option-selected" (click)="showOptions($event)" src="../../../assets/img/icon-actions.svg">
                  <div class="options-items"  style="visibility:hidden">
                    <ul>
                      <li class="item" *ngFor="let p of addressOptions"
                          (click)="itemOptionChange($event, p, element)">
                        <span> {{p.name}} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row class="utxo-table-header" *matHeaderRowDef="addressesColumns"></mat-header-row>
            <mat-row class="utxo-table-row" *matRowDef="let row; columns: addressesColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="MY EXPIRED ADDRESSES">
     <div class="table-container">
        <div class="utxo-table">
          <mat-table matSort *ngIf="!addresses_loading" [dataSource]="expired_addresses_list" class="mat-elevation-z8">
            <ng-container matColumnDef="comment">
              <mat-header-cell class="height-cell-date" *matHeaderCellDef> Comment </mat-header-cell>
              <mat-cell class="comment-cell" *matCellDef="let element">
                <span class="table-label">

                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
              <mat-header-cell class="address-cell-header" *matHeaderCellDef> Address </mat-header-cell>
              <mat-cell class="address-cell" *matCellDef="let element">
                <span class="table-label">
                  {{element.address}}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="category">
              <mat-header-cell class="category-cell-header" *matHeaderCellDef> Category </mat-header-cell>
              <mat-cell class="category-cell" *matCellDef="let element">
                <span class="table-label">
                  {{ element.category }}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="exp_date">
              <mat-header-cell *matHeaderCellDef> Expiration date: </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="table-label">
                  {{element.create_time*1000 + element.duration*1000 | date:"dd.MM.yyyy HH:mm"}}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef> Created: </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="table-label">
                  {{element.create_time*1000 | date:"dd.MM.yyyy HH:mm" }}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell class="actions-header" *matHeaderCellDef> </mat-header-cell>
              <mat-cell class="cell actions-cell" *matCellDef="let element">
                <div class="options-selector">
                  <img class="option-selected" (click)="showOptions($event)" src="../../../assets/img/icon-actions.svg">
                  <div class="options-items"  style="visibility:hidden">
                    <ul>
                      <li class="item" *ngFor="let p of addressOptions"
                          (click)="itemOptionChange($event, p, element)">
                        <span> {{p.name}} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row class="utxo-table-header" *matHeaderRowDef="addressesColumns"></mat-header-row>
            <mat-row class="utxo-table-row" *matRowDef="let row; columns: addressesColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="CONTACTS">
      <div class="table-container">
        <div class="utxo-table">
          <mat-table matSort *ngIf="!addresses_loading" [dataSource]="contacts_list" class="mat-elevation-z8">
            <ng-container matColumnDef="comment">
              <mat-header-cell class="height-cell-date" *matHeaderCellDef> Comment </mat-header-cell>
              <mat-cell class="comment-cell" *matCellDef="let element">
                <span class="table-label">

                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contact">
              <mat-header-cell class="contact-cell-header" *matHeaderCellDef> Contact </mat-header-cell>
              <mat-cell class="contact-cell" *matCellDef="let element">
                <span class="table-label">
                  {{element.address}}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="category">
              <mat-header-cell class="category-cell-header" *matHeaderCellDef> Category </mat-header-cell>
              <mat-cell class="category-cell" *matCellDef="let element">
                <span class="table-label">
                  {{ element.category }}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell class="actions-header" *matHeaderCellDef> </mat-header-cell>
              <mat-cell class="cell actions-cell" *matCellDef="let element">
                <div class="options-selector">
                  <img class="option-selected" (click)="showOptions($event)" src="../../../assets/img/icon-actions.svg">
                  <div class="options-items"  style="visibility:hidden">
                    <ul>
                      <li class="item" *ngFor="let p of addressOptions"
                          (click)="itemOptionChange($event, p, element)">
                        <span> {{p.name}} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row class="utxo-table-header" *matHeaderRowDef="contactsColumns"></mat-header-row>
            <mat-row class="utxo-table-row" *matRowDef="let row; columns: contactsColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
