.side-menu {
    margin-top: 5px;
    margin-left: 20px;

    &__control {
        cursor: pointer;
        margin-right: 20px;

        &__line {
            margin-bottom: 3px;
            width: 22px;
            height: 3px;
            background-color: #ffffff;
            border-radius: 50px;
        }
    }
}