// ================ Paths ================
$assets-dir: '/assets';
$images-dir: '/assets/images';

// ================ UI Button's Themes ================
/// @group UI-Buttons
$btn-send: 'btn-send';
$btn-receive: 'btn-receive';
$btn-open-wallet: 'btn-open-wallet';
$btn-show-qr: 'btn-show-qr';
$btn-add-all: 'btn-add-all';
$btn-cancel: 'btn-cancel';
$btn-ok: 'btn-ok';
$btn-full-back: 'btn-full-back';

// ================ UI Button's Sizes ================
/// @group UI-Buttons
$btn-md: 'btn-md';
$btn-lg: 'btn-lg';
$btn-nsmd: 'btn-nsmd';
$btn-sm: 'btn-sm';
$btn-nssm: 'btn-nssm';
$btn-full-md: 'btn-full-md';
$btn-full-sm: 'btn-full-sm';
$btn-full-lg: 'btn-full-lg';
$btn-full-xsm: 'btn-full-xsm';
$btn-full-xlg: 'btn-full-xlg';
$btn-full-understand: 'btn-full-understand';
$btn-full-verification: 'btn-full-verification';

// ================ UI Button's Shape ================
/// @group UI-Buttons
$btn-rounded: 'btn-rounded';