@import 'ui-mixins';

.header {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    text-align: right;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;

    &__icon {
        margin-left: 8px;
    }
}

.dropdown {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    position: absolute;
    font-size: 16px;
    color: #92abba;
    right: 20px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.14);
    background-color: #003f6f;
    z-index: 10;

    &__content {
        padding: 10px 0;
    }

    &__column {
        margin: 0;
        padding: 0;
    }

    &__item {
        padding: 10px 20px;
        list-style-type: none;
        cursor: pointer;
    }

    &__item:hover {
        background-color: rgba(255, 255, 255, 0.07);
    }

    &__item.active {
        color: #00f6d2;
    }
}

@media (min-width: 400px) {
    .dropdown {
        right: unset;
        margin-top: 25px;
    }
}