.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.mat-table {
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0);
}

.element-row {
    min-height: 56px;
    border: none;
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}

.element-row:not(.expanded):nth-child(4n) {
    background-color: rgba(255, 255, 255, 0.03);
}

.element-row:not(.expanded):hover {
    background: rgba(35, 193, 255, .1);
}

.element-row.expanded {
    cursor: pointer;
    background: rgba(35, 193, 255, .1);
    border-bottom-color: transparent;
}

.row-details {
    border: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.03);
}
  
.row-details:nth-child(4n-1) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-header {
    height: 46px;
    background-color: #003f6f;
    border-bottom-width: 0px;
}


.mat-header-cell {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8da1ad;
    font-family: 'SFProDisplayRegular', sans-serif;
    cursor: pointer;
}

.mat-header-cell.active {
    color: #ffffff;
    font-family: 'ProximaNovaBold', sans-serif;
}

.mat-cell {
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #ffffff;
}

.status-cell {
    font-family: 'SFProDisplayItalic', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
}

.utxo-cell {
    opacity: .5;
    font-family: 'SFProDisplayItalic', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
}

.amount-cell {
    font-family: 'SFProDisplayBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.address-cell {
    opacity: 0.5;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.sent {
    color: #da68f5;
}

.receive {
    color: #0bccf7;
}

.details-title {
    margin-top: 30px;
    font-family: 'ProximaNovaBold', sans-serif;
    opacity: .5;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.details-value {
    margin-top: 10px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    word-wrap: break-word;
}

.details {
    margin: 30px 0 30px 6px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }

    &__subheader {
        margin-top: 20px;
        opacity: 0.5;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }

    &__value {
        margin-top: 5px;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 30px;
    }
}

.sort-icon {
    margin-left: 5px;
}

.table-actions {
    margin-left: auto;
}

::ng-deep .copy-tooltip {
    width: 155px;
    height: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(42, 95, 135, 0.72) !important;
    font-family: 'ProximaNova', sans-serif;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

::ng-deep .copy-tooltip::after {
    border-color: transparent transparent rgba(42, 95, 135, 0.72) transparent !important;
}