@import 'ui-mixins';
@import './styles';

.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.mat-table {
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0);
}

.element-row {
    min-height: 56px;
    border: none;
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}

.element-row:not(.expanded):nth-child(4n) {
    background-color: rgba(255, 255, 255, 0.03);
}

.element-row:not(.expanded):hover {
    background: rgba(35, 193, 255, .1);
}

.element-row.expanded {
    cursor: pointer;
    background: rgba(35, 193, 255, .1);
    border-bottom-color: transparent;
}

.row-details {
    border: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.03);
}
  
.row-details:nth-child(4n-1) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-header {
    height: 46px;
    background-color: #003f6f;
    border-bottom-width: 0px;
}


.mat-header-cell {
    @include normal-text;
    font-size: 14px;
    color: #8da1ad;
    font-family: 'SFProDisplayRegular', sans-serif;
    cursor: pointer;
}

.mat-header-cell.active {
    color: #ffffff;
    font-family: 'ProximaNovaBold', sans-serif;
}

.mat-cell {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
}

.status-cell {
    @include normal-text;
    font-family: 'SFProDisplayItalic', sans-serif;
    font-size: 14px;
    font-style: italic;

    &__text {
        margin-left: 10px;
    }
}

.amount-cell {
    @include normal-text;
    font-family: 'SFProDisplayBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.utxo-cell {
    @include normal-text;
    opacity: .5;
    font-family: 'SFProDisplayItalic', sans-serif;
    font-size: 14px;
    font-style: italic;
}

.address-cell {
    @include normal-text;
    opacity: 0.5;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #ffffff;
}

.details-title {
    @include normal-text;
    margin-top: 30px;
    font-family: 'ProximaNovaBold', sans-serif;
    opacity: .5;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.details-value {
    @include normal-text;
    margin-top: 10px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    color: #ffffff;
    word-wrap: break-word;
}

.details {
    margin: 30px 0 30px 6px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        @include normal-text;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #ffffff;
    }

    &__subheader {
        @include normal-text;
        margin-top: 20px;
        opacity: 0.5;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #ffffff;
    }

    &__value {
        @include normal-text;
        margin-top: 5px;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        line-height: 1.43;
        color: #ffffff;
        margin-bottom: 30px;
    }
}

.tr-details {
    margin: 30px 30px 30px 6px;
    display: flex;
    flex-direction: row;
    width: 100%;

    &__info {
        max-width: 600px;

        &__header {
            @include normal-text;
            font-family: 'ProximaNovaBold', sans-serif;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }

    &__specs {
        width: 270px;
        margin: 0 29% 0 auto;
        display: flex;
        flex-direction: column;

        &__utxo {
            display: flex;
            flex-direction: column;
            
            &__header {
                @include normal-text;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;

                &__icon {
                    margin-left: 12px;
                }

                &__icon.list-visible {
                    transform: rotate(180deg);
                }
            }

            &__list {
                display: flex;
                flex-direction: column;

                &__item {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;

                    &__value {
                        @include normal-text;
                        margin-left: 10px;
                        font-size: 14px;
                        font-family: 'ProximaNova', sans-serif;
                        color: #ffffff;
                    }
                }
            }
        }

        &__proof {
            margin-top: 60px;

            &__header {
                @include normal-text;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__controls {
                display: flex;
                flex-direction: row;
                margin-top: 15px;
        
                &__details {
                    @include ui-button($btn-cancel, $btn-nssm) {
                        height: 38px;
                        width: 133px;
                        font-size: 14px;
                    }

                    @include ui-button-proof-details-icon() {
                        width: 21px;
                        height: 14px;
                    }
                }
    
                &__copy {
                   @include ui-button($btn-cancel, $btn-nssm) {
                        height: 38px;
                        width: 117px;
                        font-size: 14px;
                        margin-left: 20px;
                   }

                   @include ui-button-proof-copy-icon() {

                   }
                }
            }
        }
    }
}

.details-contact {
    margin-top: 5px;
    display: flex;
    flex-direction: row;

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__name {
        @include normal-text;
        margin-left: 15px;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
    }
}

.sort-icon {
    margin-left: 5px;
}

.table-actions {
    margin-left: auto;
}

::ng-deep .copy-tooltip {
    @include normal-text;
    width: 155px;
    height: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(42, 95, 135, 0.72) !important;
    font-family: 'ProximaNova', sans-serif;
    display: flex;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

::ng-deep .copy-tooltip::after {
    border-color: transparent transparent rgba(42, 95, 135, 0.72) transparent !important;
}