<div class="example-container">
    <!-- <mat-table #table [dataSource]="dataSource"> -->
    <table mat-table [dataSource]="tableData" multiTemplateDataRows class="table">
      <!-- transactions table -->
      
      <ng-container matColumnDef="coin">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.amount"
            (click)="sortClicked(sortParams.amount)">
          <span>Coin</span>
          <img class="sort-icon" [src]="activeSortItem === sortParams.amount ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element"  class="table-content-item coin-cell">
          <div class="cell-content">
            <ng-container *ngIf="!privacy">
              <img class="asset-icon" [src]="element.metadata.icon_path">
              <div class="asset-value">
                <div class="asset-value__in-asset" appCoinColor [appCoinColorTransaction]="element">
                  {{getValueSign(element)+' '+(element.value | beam:'1.0-9') + ' ' + element.metadata.unit_name}}
                </div>
                <div class="asset-value__in-curr" *ngIf="element.asset_id === 0">
                  {{(element.value / 100000000) | rate}}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="privacy">
              <img [src]="icons.iconEnabledPrivacy">
            </ng-container>
          </div>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.created"
            (click)="sortClicked(sortParams.created)">
            <span>Created on</span>
            <img class="sort-icon" [src]="activeSortItem === sortParams.created ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" class="table-content-item">
          <div class="cell-content">
            {{ element.create_time * 1000 | date:'d MMM y | HH:mm'}}
          </div>  
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.amount"
            (click)="sortClicked(sortParams.amount)">
            <span>Amount</span>
            <img class="sort-icon" [src]="activeSortItem === sortParams.amount ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" class="table-content-item amount-cell">
          <div class="cell-content">
            <ng-container *ngIf="!privacy">
              <ng-container>{{getValueSign(element)}}</ng-container>
              {{ element.value | beam:'1.0-9'}} BEAM
            </ng-container>
            <ng-container *ngIf="privacy">
              <img [src]="icons.iconEnabledPrivacy">
            </ng-container>
          </div>  
        </td>
      </ng-container>

      <!-- 

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef [class.active]="activeSortItem === sortParams.name"
        (click)="sortClicked(sortParams.name)"> 
          Name
          <img class="sort-icon" [src]="activeSortItem === sortParams.name ? icons.iconSortActive : icons.iconSort">
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comment.length > 0 ? element.comment : 'No name'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef [class.active]="activeSortItem === sortParams.address"
          (click)="sortClicked(sortParams.address)"> 
          Address
          <img class="sort-icon" [src]="activeSortItem === sortParams.address ? icons.iconSortActive : icons.iconSort">
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="address-cell"> 
          <div tooltip="Copy address to clipboard" tooltip-class="copy-tooltip" 
              placement="bottom" show-delay="200"
              (click)="$event.stopPropagation()"
              ngxClipboard [cbContent]="element.address">
            {{(element.address | slice:0:6)+'...'+(element.address | slice:-6)}}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <mat-header-cell *matHeaderCellDef [class.active]="activeSortItem === sortParams.exp_date"
          (click)="sortClicked(sortParams.exp_date)">
          Expiration date
          <img class="sort-icon" [src]="activeSortItem === sortParams.exp_date ? icons.iconSortActive : icons.iconSort">
        </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{ element.create_time * 1000 | date:'d MMM y | HH:mm'}}  </mat-cell>
      </ng-container>
    -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.status"
            (click)="sortClicked(sortParams.status)">
          <span>Status</span>
          <img class="sort-icon" [src]="activeSortItem === sortParams.status ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" 
            class="table-content-item status-cell" appStatusColor [appStatusColorTransaction]="element">
          <div class="cell-content">
            <app-status-icon [transaction]="element"></app-status-icon>
            <span class="status-cell__value">{{ element.status_string }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="utxo_status">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.status"
            (click)="sortClicked(sortParams.status)">
          <span>Status</span>
          <img class="sort-icon" [src]="activeSortItem === sortParams.status ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" 
            class="table-content-item status-cell">
          <div class="cell-content">
            <span class="status-cell__value">{{ element.status_string }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="utxo_maturity">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.maturity"
            (click)="sortClicked(sortParams.maturity)">
          <span>Maturity</span>
          <img class="sort-icon" [src]="activeSortItem === sortParams.maturity ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" 
            class="table-content-item utxo-cell">
          <div class="cell-content">
            {{element.status_string === utxoStatusesConsts.INCOMING || 
              element.status_string === utxoStatusesConsts.INCOMING ? '-' : element.maturity}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="utxo_amount">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.utxo_amount"
            (click)="sortClicked(sortParams.utxo_amount)">
          <span>Amount</span>
          <img class="sort-icon" [src]="activeSortItem === sortParams.utxo_amount ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" 
            class="table-content-item utxo-cell">
          <div class="cell-content">
            {{ element.amount | beam:'1.0-9'}} BEAM
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="utxo_type">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header-item"
            [class.active]="activeSortItem === sortParams.utxo_type"
            (click)="sortClicked(sortParams.utxo_type)">
          <span>Type</span>
          <img class="sort-icon" [src]="activeSortItem === sortParams.utxo_type ? icons.iconSortActive : icons.iconSort">
        </th>
        <td mat-cell *matCellDef="let element" 
            class="table-content-item utxo-cell">
          <div class="cell-content">
            {{element.type === 'norm' ? 'regular' : 'change'}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-table-actions class="table-actions" 
                            [tableType]="tableType === tableTypesConsts.TRANSACTIONS ? 
                              (isActionsVisible(element) ? tableType : tableTypes.TRANSACTIONS_NOT_SENT) :
                              tableType"
                            [isVisible]=""
                            [element]="element">
          </app-table-actions>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="getExpandedState(element)">
            <ng-container *ngIf="tableType === tableTypes.TRANSACTIONS">
              <div class="tr-details" *ngIf="expandedElement">
                <div class="tr-details__info">
                  <div class="tr-details__info__header">DETAILS</div>
                  <div class="details-title">DATE</div>
                  <div class="details-value">{{expandedElement.create_time * 1000 | date:'d MMM y | HH:mm'}}</div>
                  <ng-container *ngIf="expandedElement.sender">
                    <div class="details-title">SENDING ADDRESS</div>
                    <div class="details-value">{{expandedElement.sender}}</div>
                  </ng-container>
                  <div class="details-title">SENDER IDENTITY</div>
                  <div class="details-value">{{expandedElement.sender_identity}}</div>
                  <div class="details-title">RECEIVING ADDRESS</div>
                  <div class="details-value">{{expandedElement.receiver}}</div>
                  <div class="details-title">RECEIVER IDENTITY</div>
                  <div class="details-value">{{expandedElement.receiver_identity}}</div>
                  <ng-container *ngIf="expandedElement.confirmations">
                    <div class="details-title">CONFIRMATIONS</div>
                    <div class="details-value">{{expandedElement.confirmations}}</div>
                  </ng-container>
                  <div class="details-title">TRANSACTION FEE</div>
                  <div class="details-value">{{expandedElement.fee | beam:'1.0-9'}} BEAM</div>
                  <ng-container *ngIf="expandedElement.comment !== undefined && expandedElement.comment.length > 0">
                    <div class="details-title">TRANSACTION COMMENT</div>
                    <div class="details-value">{{expandedElement.comment}}</div>
                  </ng-container>
                  <div class="details-title">TRANSACTION ID</div>
                  <div class="details-value">{{expandedElement.txId}}</div>
                  <ng-container *ngIf="expandedElement.kernel">
                    <div class="details-title">KERNEL ID</div>
                    <div class="details-value">{{expandedElement.kernel}}</div>
                  </ng-container>
                </div>
                <div class="tr-details__specs" *ngIf="expandedElement.status_string === 'sent'">
                  <div class="tr-details__specs__utxo" *ngIf="!privacy">
                    <div class="tr-details__specs__utxo__header" (click)='utxoListHeaderClicked($event)'>
                      <span>TRANSACTION UTXO LIST</span>
                      <img class="tr-details__specs__utxo__header__icon" 
                        [class.list-visible]="!isUtxoListVisible" [src]="icons.arrowIcon">
                    </div>
                    <ng-container *ngIf="isUtxoListVisible">
                      <div class="tr-details__specs__utxo__list" *ngIf="utxoList$ | async as utxoList">
                        <div *ngFor="let item of utxoList">
                          <div class="tr-details__specs__utxo__list__item">
                            <img [src]="item.status_string === 'spent' ? icons.sentIcon : icons.receivedIcon">
                            <span class="tr-details__specs__utxo__list__item__value"> 
                              {{ item.amount | beam:'1.0-9'}} BEAM
                            </span>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="tr-details__specs__proof">
                    <div class="tr-details__specs__proof__header">PAYMENT PROOF</div>
                    <div class="tr-details__specs__proof__controls">
                      <div class="tr-details__specs__proof__controls__details">
                        <app-button (click)="proofDetailsClicked($event)">details</app-button>
                      </div>
                      <div class="tr-details__specs__proof__controls__copy">
                          <app-button ngxClipboard [cbContent]="proofDataToCp()">copy</app-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="tableType === 'utxo'">
              <div class="details" *ngIf="expandedElement">
                  <div class="details__header">DETAILS</div>
                  <div class="details__subheader">ID</div>
                  <div class="details__value">{{expandedElement.id}}</div>
                  <div class="details__list">
                    <app-transaction-list 
                      [txId]="expandedElement.createTxId !== undefined && expandedElement.createTxId.length > 0 ? expandedElement.createTxId : expandedElement.spentTxId">
                    </app-transaction-list>
                  </div>
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="tableColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let element; columns: tableColumns;"
          class="element-row example-element-row"
          matRipple
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandElement(element)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="row-details example-detail-row"></tr>

    </table>
</div>
