<div class="side-menu">
    <div class="side-menu__items" routerLinkActive="active">
        <div class="side-menu__items__item menu-item" *ngFor="let item of menuItems" 
            [routerLink]="item.path" (mouseover)="itemMouseover(item)"
                (mouseout)="itemMouseout(item)">
            <div class="menu-item-side" [class.hovered]="item.hovered"></div>
            <img class="menu-item-icon" [src]="item.src || item.srcOut"/>
        </div>
    </div>
    <div class="side-menu__buy-beam" (click)="goToBuyBeam()">
        <img class="side-menu__buy-beam__icon" [src]="iconBuyBeam"/>
    </div>
</div>