.side-menu {
    width: 70px;
    z-index: 1000;
    height: calc(100% - 70px);
    position: absolute;
    top: 50px;
    border-radius: 5px;
    background-color: rgba(4, 37, 72, .1);
    display: flex;
    flex-direction: column;

    &__items {
        margin-top: 80px;

        &__item {
            cursor: pointer;
            display: flex;
            margin-top: 20px;
        }
    }

    &__buy-beam {
        margin: auto auto 40px auto;
    }
}

.menu-item-icon {
    width: 28px;
    height: 28px;
    margin: auto 0 auto 17px;
}

.menu-item-side {
    width: 4px;
    height: 47px;
}

.menu-item-side.hovered {
    box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
    background-color: #00f6d2;
}