<div class="utxo" [class.blur-filter]="modalOpened">
    <div class="utxo__header">
        <div class="menu-control-wrapper">
            <img class="utxo__header__menu" (click)="sideMenuClicked($event)" [src]="iconMenu"/>
            <!-- <app-menu-control></app-menu-control> -->
        </div>
        <div class="title-wrapper">
            <div class="utxo__header__title">UTXO</div>
        </div>
        <div class="privacy-control-wrapper">
            <img class="utxo__header__privacy-control" (click)="privacyControl()" 
                [src]="privacyMode ? iconEnabledPrivacy : iconDisabledPrivacy"/>
        </div>
    </div>

    <div class="utxo__status" *ngIf="walletStatus$ | async as walletStatus">
        <div class="height-container">
            <span class="utxo__status__title-height">Blockchain Height:</span>
            <span class="utxo__status__height">{{walletStatus.current_height}}</span>
        </div>
        <div class="hash-container">
            <span class="utxo__status__title-hash">Last block hash:</span>
            <span class="utxo__status__hash">{{walletStatus.current_state_hash}}</span>
        </div>
    </div>

    <div class="utxo__transactions">
        <ng-container *ngIf="transactions$ | async as transactions">
            <div class="utxo__transactions__header">
                <div class="utxo__transactions__header__title">
                    <span class="utxo__transactions__header__title__text">UTXO</span>
                </div>
                <div class="utxo__transactions__header__show-all">
                </div>
            </div>
            <div class="utxo__transactions__content">
                <ng-container *ngIf="transactionsLoaded && transactions.length > 0">
                    <div class="transcaction-container" *ngFor="let transaction of transactions; let i = index">
                    </div>
                </ng-container>
                <ng-container *ngIf="transactionsLoaded && transactions.length === 0">
                    <img class="utxo__transactions__content__empty-tr-icon" [src]="iconEmpty">
                    <div class="utxo__transactions__content__empty-tr-text">Your transaction list is empty</div>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <div class="utxo__top-gradient"></div>
</div>