<div class="utxo" [class.blur-filter]="!isFullScreen && (modalOpened || popupOpened)">
    <ng-container *ngIf="!isFullSize">
        <div class="utxo__header">
            <div class="menu-control-wrapper">
                <img class="utxo__header__menu" (click)="sideMenuClicked($event)" [src]="iconMenu"/>
            </div>
            <div class="title-wrapper">
                <div class="utxo__header__title">UTXO</div>
            </div>
            <div class="privacy-control-wrapper">
                <img class="utxo__header__privacy-control" (click)="privacyControlClicked()" 
                    [src]="privacyMode ? iconEnabledPrivacy : iconDisabledPrivacy"/>
            </div>
        </div>

        <div class="utxo__status" *ngIf="walletStatus$ | async as walletStatus">
            <div class="height-container">
                <span class="utxo__status__title-height">BLOCKCHAIN HEIGHT:</span>
                <span class="utxo__status__height">{{walletStatus.current_height}}</span>
            </div>
            <div class="hash-container">
                <span class="utxo__status__title-hash">LAST BLOCK HEIGHT:</span>
                <span class="utxo__status__hash">{{walletStatus.current_state_hash}}</span>
            </div>
        </div>

        <div class="utxo__container">
            <div class="utxo__container__header">
                <div class="utxo__container__header__title">
                    <span class="utxo__container__header__title__text">UTXO</span>
                </div>
                <div class="utxo__container__header__selector">
                    <span class="dropdown-header" (click)="changeDropdownState($event)">
                        <span>{{utxoSelectorActiveTitle}}</span>
                        <img src="" class="dropdown-header__icon" [src]="iconDrop">
                    </span>
                    <div class="dropdown" *ngIf="isDropdownVisible" appClickOutside (clickOutside)="onClickedOutside()">
                        <div class="dropdown__content">
                            <ul class="dropdown__column">
                                <li class="dropdown__item"
                                        [class.active]="selectorTitlesData.AVAILABLE === utxoSelectorActiveTitle" 
                                        (click)="selectorItemAvailableClicked()"> 
                                    {{selectorTitlesData.AVAILABLE}} 
                                </li>
                                <li class="dropdown__item"
                                        [class.active]="selectorTitlesData.IN_PROGRESS === utxoSelectorActiveTitle" 
                                        (click)="selectorItemInProgressClicked()"> 
                                    {{selectorTitlesData.IN_PROGRESS}} 
                                </li>
                                <li class="dropdown__item"
                                        [class.active]="selectorTitlesData.SPENT === utxoSelectorActiveTitle" 
                                        (click)="selectorItemSpentClicked()"> 
                                    {{selectorTitlesData.SPENT}} 
                                </li>
                                <li class="dropdown__item"
                                        [class.active]="selectorTitlesData.UNAVAILABLE === utxoSelectorActiveTitle" 
                                        (click)="selectorItemUnavailableClicked()"> 
                                    {{selectorTitlesData.UNAVAILABLE}} 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!privacyMode && utxos$ | async as utxos">
                <div class="utxo__container__content">
                    <ng-container *ngIf="utxos.length > 0">
                        <div class="utxos-container" *ngFor="let utxo of utxos">
                            <div class="utxos-container__item">
                                <span class="utxos-container__item__amount">{{utxo.amount | beam:'1.0-9'}} BEAM</span>
                                <span class="utxos-container__item__status">{{utxo.status_string}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="utxos.length === 0">
                        <img class="utxo__container__content__empty-tr-icon" [src]="iconEmpty">
                        <div class="utxo__container__content__empty-tr-text">Your UTXO list is empty</div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="privacyMode">
                <img class="utxo__container__secure-icon" [src]="iconSecure">
                <div class="utxo__container__secure-text">
                    <p>You’re currently in Security Mode.</p>
                    <p>Turn it off to see your UTXO list</p>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="isFullSize">
        <div class="utxo__content">
            <div class="content-header">
                <div class="content-header__left-wrapper">
                    <div class="content-header__left-wrapper__title">UTXO</div>
                    <div class="content-header__left-wrapper__selector">
                        <div class="selector" (click)="selectorItemAvailableClicked()">
                            <div class="selector__title" 
                                [class.active]="utxoSelectorActiveTitle === selectorTitlesData.AVAILABLE">
                                {{selectorTitlesData.AVAILABLE}}</div>
                            <div class="selector__bottom-line"
                                *ngIf="utxoSelectorActiveTitle === selectorTitlesData.AVAILABLE"></div>
                        </div>
                        <div class="selector" (click)="selectorItemInProgressClicked()">
                            <div class="selector__title" 
                                [class.active]="utxoSelectorActiveTitle === selectorTitlesData.IN_PROGRESS">
                                {{selectorTitlesData.IN_PROGRESS}}</div>
                            <div class="selector__bottom-line"
                                *ngIf="utxoSelectorActiveTitle === selectorTitlesData.IN_PROGRESS"></div>
                        </div>
                        <div class="selector" (click)="selectorItemSpentClicked()">
                            <div class="selector__title" 
                                [class.active]="utxoSelectorActiveTitle === selectorTitlesData.SPENT">
                                {{selectorTitlesData.SPENT}}</div>
                            <div class="selector__bottom-line" 
                                *ngIf="utxoSelectorActiveTitle === selectorTitlesData.SPENT"></div>
                        </div>
                        <div class="selector" (click)="selectorItemUnavailableClicked()">
                            <div class="selector__title" 
                                [class.active]="utxoSelectorActiveTitle === selectorTitlesData.UNAVAILABLE">
                                {{selectorTitlesData.UNAVAILABLE}}</div>
                            <div class="selector__bottom-line" 
                                *ngIf="utxoSelectorActiveTitle === selectorTitlesData.UNAVAILABLE"></div>
                        </div>
                    </div>
                </div>
                <div class="content-header__right-wrapper">
                    <div class="utxo__status" *ngIf="walletStatus$ | async as walletStatus">
                        <div class="height-container">
                            <span class="utxo__status__title-height">BLOCKCHAIN HEIGHT:</span>
                            <span class="utxo__status__height">{{walletStatus.current_height}}</span>
                        </div>
                        <div class="hash-container">
                            <span class="utxo__status__title-hash">LAST BLOCK HASH:</span>
                            <span class="utxo__status__hash">{{walletStatus.current_state_hash}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-table" *ngIf="utxos$ | async as utxos">
                <ng-container *ngIf="!privacyMode">
                    <app-table *ngIf="utxos.length > 0" 
                        [tableType]="tableType"
                        [tableColumns]="tableColumns" 
                        [tableData]="utxos"></app-table>
                    <ng-container *ngIf="utxos.length === 0">
                        <img class="content-table__empty-tr-icon" [src]="iconEmpty">
                        <div class="content-table__empty-tr-text">Your UTXO list is empty</div>
                    </ng-container>    
                </ng-container>
                <div class="content-table__secure" *ngIf="privacyMode">
                    <img class="content-table__secure__icon" [src]="iconSecure">
                    <div class="content-table__secure__text">
                        <p>You’re currently in Security Mode.</p>
                        <p>Turn it off to see your UTXO list</p>
                    </div>
                </div>
                
            </div>
        </div>
    </ng-container>

    <div class="utxo__top-gradient"></div>
</div>