@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.content-text {
    @include normal-text;
    margin-left: 20px;
    max-width: 275px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.generate {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgba(3, 91, 143, 0), #035b8f);
        z-index: 1;
    }

    &__header {
        margin-top: 30px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__menu {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            @include normal-text;
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    &__content {
        z-index: 10;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        &__first-row {
            @include normal-text;
            max-width: 335px;
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
        }

        &__second-row {
            @include normal-text;
            margin-top: 20px;
            max-width: 335px;
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
        }

        &__eye {
            margin-top: 30px;
            display: flex;
            align-items: center;
        }

        &__copy {
            margin-top: 25px;
            display: flex;
            align-items: center;

            &__icon {
                margin-left: 9px;
            }

            &__text {
                margin-left: 24px;
            }
        }

        &__pass {
            margin-top: 20px;
            display: flex;
            align-items: center;
        }

        &__generate-button {
            text-align: center;
            margin-top: 30px;
            
            @include ui-button($btn-open-wallet, $btn-lg) {
                width: 253px;
                height: 44px;
                font-size: 14px;
            }
    
            @include ui-button-generate-seed-icon()
        }
    }
}

@media (min-width: 400px) {
    .generate {
        height: 100%;
        
        &__top-content {
            margin-top: 50px;

            &__header {
                @include normal-text;
                font-family: 'ProximaNovaSemiBold', sans-serif;
                font-size: 36px;
                font-weight: 600;
                text-align: center;
                color: #ffffff;
            }

            &__text {
                @include normal-text;
                width: 730px;
                margin: 30px auto 0 auto;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                line-height: 1.29;
                text-align: center;
                color: #ffffff;
            }
        }

        &__mid-content {
            display: flex;
            flex-direction: row;
            width: 730px;
            margin: 75px auto 0 auto;
            justify-content: space-between;

            &__eye {
                height: 140px;
                width: 200px;
                display: flex;
                flex-direction: column;

                &__icon {
                    margin: 0 auto;
                    width: 74px;
                    height: 53px;
                }
            }

            &__pass {
                width: 200px;
                height: 165px;
                display: flex;
                flex-direction: column;

                &__icon {
                    margin: 0 auto;
                    width: 74px;
                    height: 44px;
                }
            }

            &__copy {
                width: 200px;
                height: 135px;
                display: flex;
                flex-direction: column;

                &__icon {
                    margin: 0 auto;
                    width: 52px;
                    height: 57px;
                }
            }
        }

        &__bottom-content {
            margin: auto auto 143px auto;
            display: flex;
            flex-direction: row;

            &__generate-button {
                margin-left: 20px;
                
                @include ui-button($btn-open-wallet, $btn-full-understand) {
                    font-size: 14px;
                    width: 166px;
                    height: 38px;
                }
        
                @include ui-button-ok-icon()
            }

            &__back-button {
                
                @include ui-button($btn-full-back, $btn-full-sm) {
                    font-size: 14px;
                    width: 122px;
                    height: 38px;
                }
        
                @include ui-button-back-icon()
            }
        }
    }

    .content-text {
        text-align: center;
        margin: auto 0;
    }
}

p {
    margin: 0;
}

.content-header {
    @include normal-text;
    opacity: 0.5;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.menu-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.save-addr-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}