<div class="generate">
    <ng-container *ngIf="!isFullScreen">
        <div class="generate__header">
            <div class="menu-control-wrapper">
                <img class="generate__header__menu" (click)="backClicked($event)" [src]="iconBack"/>
            </div>
            <div class="title-wrapper">
                <div class="generate__header__title">CREATE NEW WALLET</div>
            </div>
            <div class="save-addr-control-wrapper"></div>
        </div>
    
        <div class="generate__content">
            <div class="generate__content__first-row">
                Create new wallet by generating seed phrase.
                If you ever lose your device, you will need this phrase 
                to recover your wallet!
            </div>
            <div class="generate__content__second-row">
                Never type your seed phrase in keychains or 
                password managers. Never save it in your local or 
                remote folders in any form.
            </div>
            <div class="generate__content__eye">
                <img class="generate__content__eye__icon" [src]="iconEye"/>
                <span class="content-text">Do not let anyone see your seed phrase</span>
            </div>
            <div class="generate__content__pass">
                <img class="generate__content__pass__icon" [src]="iconPass"/>
                <span class="content-text">Never type your seed phrase into password managers or elsewhere</span>
            </div>
            <div class="generate__content__copy">
                <img class="generate__content__copy__icon" [src]="iconCopy"/>
                <span class="generate__content__copy__text content-text">Make at least 2 copies of the phrase in case of emergency</span>
            </div>
            <div class="generate__content__generate-button">
                <app-button class="generate-button" [routerLink]="routesConsts.FTF_VIEW_SEED_ROUTE">
                    generate seed phrase
                </app-button>
            </div>
        </div>
    
        <div class="generate__top-gradient"></div>
    </ng-container>

    <ng-container *ngIf="isFullScreen">
        <div class="generate__top-content">
            <div class="generate__top-content__header">Seed phrase</div>
            <div class="generate__top-content__text">
                <p>Create new wallet by generating seed phrase. If you ever lose your device,</p>
                <p>you will need this phrase to recover your wallet! Never type your seed phrase in keychains or password managers.</p>
                <p>Never save it in your local or remote folders in any form.</p>
            </div>
        </div>
        <div class="generate__mid-content">
            <div class="generate__mid-content__eye">
                <img class="generate__mid-content__eye__icon" [src]="iconEye"/>
                <span class="content-text">Do not let anyone see your seed phrase</span>
            </div>
            <div class="generate__mid-content__pass">
                <img class="generate__mid-content__pass__icon" [src]="iconPass"/>
                <span class="content-text">Never type your seed phrase into password managers or elsewhere</span>
            </div>
            <div class="generate__mid-content__copy">
                <img class="generate__mid-content__copy__icon" [src]="iconCopy"/>
                <span class="generate__mid-content__copy__text content-text">Make at least 2 copies of the phrase in case of emergency</span>
            </div>
        </div>
        <div class="generate__bottom-content">
            <app-button class="generate__bottom-content__back-button" (click)="backClicked($event)">back</app-button>
            <app-button class="generate__bottom-content__generate-button"
                        [routerLink]="routesConsts.FTF_VIEW_SEED_ROUTE">
                I understand
            </app-button>
        </div>
    </ng-container>
</div>