.example-container {
    min-width: 375px;
    min-height: 550px;
    background: #1e172c;
}

.container {
    width: 490px;
    margin: auto;
    padding-top: 100px;
}

.pass-title {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: 100%;
    border-radius: 14px;
    padding-left: 10px;
    border: none;
    height: 30px;
}

.receive-button {
    float: left;
    margin-top: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: none;
    width: 130px;
    color: #ffffff;
    height: 38px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: rgb(11,204,247);
}

.send-button {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: none;
    height: 38px;
    width: 130px;
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: rgb(218,104,245);
}