<div class="main">
    <div class="main__header">
        <div class="menu-control-wrapper">
            <!-- <img class="main__header__menu" (click)="sideMenuClicked()" [src]="iconMenu"/> -->
            <!-- <app-menu-control></app-menu-control> -->
        </div>
        <div class="title-wrapper">
            <div class="main__header__title">TRANSACTIONS</div>
        </div>
        <div class="privacy-control-wrapper">
            <!-- <img class="main__header__privacy-control" (click)="privacyControl()" 
                [src]="privacyMode ? iconEnabledPrivacy : iconDisabledPrivacy"/> -->
        </div>
    </div>
    
    <div class="main__top-gradient"></div>
</div>