<div class="restore" (click)="closePopup($event)">
    <div class="restore__container" (click)="$event.stopPropagation()">
        <img class="restore__cancel-icon" [src]="popupCloseIcon" (click)="closePopup($event)">
        <div class="restore__title">Restore wallet</div>
        <div class="restore__content">
            <ng-container *ngIf="isFullScreen">
                <p>You are trying to restore an existing Beam Wallet.</p>
                <p>Please notice that if you use your wallet on another device, your</p>
                <p>balance will be up to date, but  transaction history and addresses</p>
                <p>will be kept separately on each device.</p>
            </ng-container>
            
            <ng-container *ngIf="!isFullScreen">
                <p>You are trying to restore an existing Beam</p>
                <p>Wallet.</p>
                <p>Please notice that if you use your wallet on</p>
                <p>another device, your balance will be up to date,</p>
                <p>but transaction history and addresses will be</p>
                <p>kept separately on each device.</p>
            </ng-container>
        </div>
        <div class="restore__confirm-button">
            <app-button (click)="agreeClicked()">I agree</app-button>
        </div>
    </div>
</div>

<div *ngIf="isFullScreen && popupOpened" class="full-popup-opened"></div>