@import 'ui-mixins';
@import './styles';

:host {
    height: 0;
}

.restore {
    position: absolute;
	width: 100%;
	margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 1100;
    overflow: auto;

    &__cancel-icon {
        margin: 10px 10px 0 auto;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    &__container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: #003f6f;
        position: absolute;
        width: 335px;
        height: 273px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1500;
    }
    
    &__title {
        @include normal-text;
        margin: 6px auto 0 auto;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.06;
        text-align: center;
        color: #ffffff;
    }

    &__content {
        margin-top: 20px;
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
    }

    &__confirm-button {
        margin: 30px auto 0;

        @include ui-button($btn-open-wallet, $btn-lg) {
            width: 141px;
            height: 44px;
            font-size: 16px;
        }

        @include ui-button-ok-icon()
    }
}

p {
    margin: 0;
}

@media (min-width: 400px) {
    .restore {
        height: 100%;
        overflow: none;
        
        &__title {
            @include normal-text;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
        }

        &__container {
            width: 460px;
            height: 231px;
        }

        &__content {
            line-height: 1.29;
        }

        &__confirm-button {
            margin: 20px auto 0;
    
            @include ui-button($btn-open-wallet, $btn-lg) {
                width: 130px;
                height: 38px;
                font-size: 14px;
            }
    
            @include ui-button-ok-icon()
        }
    }
    
}

.full-popup-opened {
    background-color: rgba(4, 37, 72, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}