@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.send {
    overflow: hidden;
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgba(218, 104, 245, 0), rgba(218, 104, 245, 0.5));
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__back {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            @include normal-text;
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    &__progress {
        display: flex;
        margin: 5px auto 0 auto;
        z-index: 10;

        &__full {
            border-radius: 50px;
            margin-right: 5px;
            width: 4px;
            height: 4px;
            background-color: #ffffff;
        }

        &__empty {
            margin-right: 5px;
            border-radius: 50px;
            width: 4px;
            height: 4px;
            opacity: .4;
            background-color: #ffffff;
        }
    }

    &__container {
        z-index: 10;
        margin-top: 30px;
        display: flex;
        color: #ffffff;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        flex-grow: 1; 

        &__title {
            @include normal-text;
            font-family: 'ProximaNovaBold', sans-serif;
            opacity: 0.5;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #ffffff;
        }

        &__content {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            flex: 1;
            width:calc(100% - 20px);

            &__input {
                @include normal-text;
                background: rgba(255, 255, 255, 0);
                font-family: 'ProximaNova', sans-serif;
                border: none;
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, .3);
                font-size: 14px;
                color: #ffffff;
                resize:none;
            }

            &__input:focus {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                outline-width: 0;
                font-size: 14px;
                color: #ffffff;
            }

            &__input::placeholder {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                color: rgba(255, 255, 255, .3);
            }

            &__input.incorrect {
                border-bottom: 2px solid #ff625c;
                color: #ff625c;
            }
    
            &__input.incorrect:focus {
                color: #ff625c;
            }
    
            &__validator {
                @include normal-text;
                margin-top: 5px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 13px;
                line-height: 1.23;
                color: #ff625c;
            }
        }
    }
}

.controls {
    margin: auto auto 20px auto;
    &__button {
        @include ui-button($btn-send, $btn-md) {
        }

        @include ui-button-next-icon()
    }

    &__button.disabled {
        @include ui-button($btn-send, $btn-md) {
            opacity: 0.2;
            cursor: default;
        }
    }
}

@media (min-width: 400px) {
    .send {
        height: 100%;
        
        &__top-gradient {
            height: 180px;
        }

        &__content {
            height: 100%;
            z-index: 10;
            padding: 30px 50px 0 90px;
            flex-grow: 1;

            &__header {
                display: flex;
                &__title {
                    @include normal-text;
                    font-family: 'SFUIDisplay-Medium', sans-serif;
                    font-size: 36px;
                    font-weight: 500;
                    color: #ffffff;
                }
            }
        }
    }

    .form-group {
        display: flex;
        justify-content: space-between;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: row;

        &__address {
            display: flex;
            flex-direction: column;
            width: 49%;
            
            &__title {
                @include normal-text;
                font-family: 'ProximaNovaBold', sans-serif;
                opacity: 0.5;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
                margin-top: 40px;
            }

            &__input {
                @include normal-text;
                background: rgba(255, 255, 255, 0);
                font-family: 'ProximaNova', sans-serif;
                border: none;
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, .3);
                font-size: 14px;
                color: #ffffff;
                resize:none;
                max-height: 150px;
                margin-top: 15px;
            }

            &__input:focus {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                outline-width: 0;
                font-size: 14px;
                color: #ffffff;
            }

            &__input::placeholder {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                color: rgba(255, 255, 255, .3);
            }

            &__input.incorrect {
                border-bottom: 2px solid #ff625c;
                color: #ff625c;
            }
    
            &__input.incorrect:focus {
                color: #ff625c;
            }
    
            &__validator {
                @include normal-text;
                margin-top: 5px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 13px;
                line-height: 1.23;
                color: #ff625c;
            }
        }

        &__values {
            display: flex;
            flex-direction: column;
            margin-left: 75px;
            width: calc(51% - 75px);

            &__title-amount {
                @include normal-text;
                margin-top: 40px;
                font-family: 'ProximaNovaBold', sans-serif;
                opacity: 0.5;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__title-comment,
            &__title-fee {
                @include normal-text;
                margin-top: 30px;
                font-family: 'ProximaNovaBold', sans-serif;
                opacity: 0.5;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__input-fee,
            &__input-comment,
            &__input-amount {
                @include normal-text;
                background: rgba(255, 255, 255, 0);
                border: none;
                font-family: 'ProximaNovaSemibold', sans-serif;
                border-bottom: 1px solid rgba(255, 255, 255, .3);
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.34px;
                color: #c061e0;
                resize:none;
                max-height: 40px;
                margin-top: 10px;
            }
            
            &__input-amount {
                width: calc(100% - 76px);
            }

            &__input-fee {
                width: calc(100% - 88px);
            }

            &__input-comment {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                color: #ffffff;
                width: 100%;
            }

            &__input-fee:focus,
            &__input-amount:focus {
                @include normal-text;
                font-family: 'ProximaNovaSemibold', sans-serif;
                outline-width: 0;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.34px;
                color: #c061e0;
            }

            &__input-comment:focus {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                outline-width: 0;
                font-size: 14px;
                color: #ffffff;
            }

            &__input-fee::placeholder,
            &__input-comment::placeholder,
            &__input-amount::placeholder {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                color: rgba(255, 255, 255, .3);
            }

            &__input-amount.incorrect-amount {
                border-bottom: 2px solid #ff625c;
                color: #ff625c;
            }
    
            &__input-amount.incorrect-amount:focus,
            &__input-amount.incorrect-amount::placeholder {
                color: #ff625c;
            }

            &__amount-validator {
                @include normal-text;
                margin-top: 10px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 13px;
                line-height: 1.23;
                color: #ff625c;
            }

            &__fee-validator {
                @include normal-text;
                margin-top: 5px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 13px;
                line-height: 1.23;
                color: #ff625c;
            }

            &__currency {
                display: flex;
                align-items: flex-end;
                @include normal-text;
                font-size: 16px;
                letter-spacing: 2.4px;
                text-align: right;
                color: #ffffff;
            }

            &__info {
                @include normal-text;
                width: 335px;
                margin-top: 30px;
                font-family: 'ProximaNovaIT', sans-serif;
                font-size: 14px;
                opacity: .4;
                text-align: center;
                color: #ffffff;
            }

            &__stats {
                margin-top: 50px;
                width: 100%;
                height: 195px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.1);
                padding: 30px;
                display: flex;
                flex-direction: row;

                &__titles {
                    @include normal-text;
                    font-family: 'SFProDisplayRegular', sans-serif;
                    font-size: 14px;
                    letter-spacing: 0.35px;
                    color: #8da1ad;
                }

                &__values {
                    @include normal-text;
                    font-family: 'SFProDisplayRegular', sans-serif;
                    margin-left: auto;
                    font-size: 14px;
                    color: #ffffff;
                }

                &__values.incorrect-amount {
                    color: #ff625c;
                }
            }
        }
    }

    .outgoing {
        width: 100%;
        height: 57px;
        border-radius: 2px;
        margin-top: 30px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.05);
        display: flex;
        flex-direction: column;
        -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
        -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
        -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
        transition:width 300ms ease-in-out, height 300ms ease-in-out;

        &__header {
            width: 100%;
            display: flex;
            flex-direction: row;
            cursor: pointer;

            &__title {
                @include normal-text;
                opacity: 0.5;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__control {
                margin-left: auto;
                margin-bottom: 3px;
            }

            &__control.full {
                transform: rotate(180deg);
            }
        }

        &__address {
            display: flex;
            flex-direction: row;

            &__value {
                @include normal-text;
                font-family: 'SFProDisplayRegular', sans-serif;
                font-size: 14px;
                letter-spacing: 0.26px;
                color: #ffffff;
                max-width: calc(100% - 145px);
                word-wrap: break-word;
                margin-top: 8px;
            }

            &__button {
                margin-left: auto;
                margin-top: 8px;
                
                @include ui-button($btn-add-all, $btn-sm) {
                    width: 125px;
                }
        
                @include ui-button-change-icon()
            }
        }

        &__edit {
            margin-top: auto;
            display: flex;
            flex-direction: row;
            
            &__title {
                @include normal-text;
                opacity: 0.5;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                color: #ffffff;
            }
        }
    }

    .outgoing.full {
        height: 136px;
    }

    .row-item {
        margin-top: 12px;
    }

    .row-item-last {
        margin-top: 28px;
    }

    .controls {
        margin: 100px auto 0 auto;
        padding-bottom: 80px;

        &__back-button {
            @include ui-button($btn-full-back, $btn-full-xsm) {
                font-size: 14px;
            }

            @include ui-button-back-icon()
        }

        &__send-button {
            margin-left: 20px;
            @include ui-button($btn-send, $btn-full-xsm) {
                font-size: 14px;
            }

            @include ui-button-next-icon()
        }

        &__send-button.disabled {
            margin-left: 20px;
            @include ui-button($btn-send, $btn-full-xsm) {
                font-size: 14px;
                opacity: 0.2;
                cursor: default;
            }

            @include ui-button-next-icon()
        }
    }

    .total {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 30px;
    
        &__container {
            &__header {
                @include normal-text;
                font-family: 'ProximaNovaBold', sans-serif;
                opacity: 0.5;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
            }
    
            &__value {
                @include normal-text;
                margin-top: 10px;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #ffffff;
            }
        }
    
        &__add-all {
            margin-left: auto;
            //margin: auto auto 20px auto;
            
            @include ui-button($btn-add-all, $btn-sm) {
            }
    
            @include ui-button-add-all-icon()
        }
    }

    .incorrect {
        border-bottom: 2px solid #ff625c;
        color: #ff625c;
    }

    .incorrect:focus {
        color: #ff625c;
    }
}

.send.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.full-popup-opened {
    background-color: rgba(4, 37, 72, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}

.send-form-cl {
    display: flex;
	flex-direction: column;
    flex: 1;
}

.send-button {
    @include ui-button($btn-send, $btn-md) {
        margin-right: 7px;
    }
}

.back-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.right-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}