<form class="form" novalidate [formGroup]="fullSendForm" autocomplete="off">
    <div class="send" [class.blur-filter]="!componentParams.isFullScreen && componentParams.popupOpened">
        <ng-container *ngIf="!componentParams.isFullScreen else fullScreenTemplate">
            <div class="send__header">
                <div class="back-control-wrapper">
                    <img class="send__header__back" (click)="backConfirmationClicked()" 
                        [src]="componentParams.iconBack"/>
                </div>
                <div class="title-wrapper">
                    <div class="send__header__title">SEND</div>
                </div>
                <div class="right-wrapper"></div>
            </div>
            <div class="send__container">
                <div class="send__container__address">
                    <div class="container-header">
                        <span>TRANSACTION INFO</span>
                    </div>
                    <div class="send__container__address__content">
                        <ng-container *ngTemplateOutlet="addressTemplate"></ng-container>
                    </div>
                </div>

                <div class="send__container__amount">
                    <div class="container-header">
                        <span>AMOUNT</span>
                    </div>
                    <div class="send__container__amount__content">
                        <ng-container *ngTemplateOutlet="amountTemplate"></ng-container>
                    </div>
                </div>

                <div class="send__container__comment">
                    <div class="container-header" (click)="commentControlClicked()">
                        <span>COMMENT</span>
                        <div class="container-header__control">
                            <img [src]="componentParams.commentExpanded ? componentParams.iconArrowUp :
                                componentParams.iconArrowDown"/>
                        </div>
                    </div>
                    <div class="send__container__comment__content" *ngIf="componentParams.commentExpanded">
                        <ng-container *ngTemplateOutlet="commentTemplate"></ng-container>
                    </div>
                </div>

                <div class="send__container__bottom">
                    <div class="send__container__bottom__controls">
                        <div class="">
                            <app-button [disabled]="!componentParams.isSendDataValid"
                                    (click)="submit($event)" 
                                    class="send__container__bottom__controls__button">
                                next
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send__top-gradient"></div>
        </ng-container>
        
        <ng-template #fullScreenTemplate>
            <div class="send__container">
                <app-container-header 
                    [title]="componentParams.titleText"
                    [subtitle]="componentParams.subtitleText"
                    [backLink]="componentParams.backLink"></app-container-header>

                <div class="send__container__content">
                    <div class="left-row">
                        <div class="left-row__address">
                            <div class="container-header">
                                <span>SEND TO</span>
                            </div>
                            <div class="left-row__address__content">
                                <ng-container *ngTemplateOutlet="addressTemplate"></ng-container>
                            </div>
                        </div>

                        <div class="left-row__amount">
                            <div class="container-header">
                                <span>AMOUNT</span>
                            </div>
                            <div class="left-row__amount__content">
                                <ng-container *ngTemplateOutlet="amountTemplate"></ng-container>
                            </div>
                        </div>

                        <div class="left-row__type" *ngIf="componentParams.isTypeVisible">
                            <div class="container-header">
                                <span>TRANSACTION TYPE</span>
                            </div>
                            <div class="left-row__type__content">
                                <ng-container *ngTemplateOutlet="typeTemplate"></ng-container>
                            </div>
                        </div>

                        <div class="left-row__comment">
                            <div class="container-header expandable" (click)="commentControlClicked()">
                                <span>COMMENT</span>
                                <div class="container-header__control">
                                    <img [src]="componentParams.commentExpanded ? componentParams.iconArrowUp :
                                        componentParams.iconArrowDown"/>
                                </div>
                            </div>
                            <div class="left-row__comment__content" *ngIf="componentParams.commentExpanded">
                                <ng-container *ngTemplateOutlet="commentTemplate"></ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="right-row">
                        <div class="right-row__stats">
                            <div class="right-row__stats__content">
                                <div class="right-row__stats__content__titles">
                                    <div>Amount to send:</div>
                                    <div class="row-item">Change:</div>
                                    <div class="row-item">Fee:</div>
                                    <div class="row-item">Remaining:</div>
                                    <div class="row-item" 
                                        *ngIf="selectedAssetValue.asset_id !== 0">
                                        BEAM Remaining:
                                    </div>
                                </div>
                                <div class="right-row__stats__content__values" 
                                        [class.incorrect-amount]="!componentParams.isEnoughAmount">
                                
                                    <div>
                                        {{values.amountToSend}}
                                        {{selectedAssetValue.metadata.unit_name}}</div>
                                    <div class="rate-row-item">{{values.amountToSend | rate}}</div>
                                    <div class="value-row-item">
                                        {{selectedAssetValue.asset_id == 0 ? values.change : values.asset_change}}
                                        {{selectedAssetValue.metadata.unit_name}}
                                    </div>
                                    <div class="rate-row-item">
                                        {{(selectedAssetValue.asset_id == 0 ? values.change : values.asset_change) | rate}}
                                    </div>
                                    <div class="value-row-item">{{values.fee_formatted}} BEAM</div>
                                    <div class="rate-row-item">{{values.fee_formatted | rate}}</div>
                                    <div class="value-row-item">
                                        {{values.remaining}}
                                        {{selectedAssetValue.metadata.unit_name}}
                                    </div>
                                    <div class="rate-row-item">{{values.remaining | rate}}</div>
                                    <ng-container *ngIf="selectedAssetValue.asset_id !== 0">
                                        <div class="value-row-item">{{values.beam_remaining}} BEAM</div>
                                        <div class="rate-row-item">{{values.beam_remaining | rate}}</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="send__container__bottom">
                    <div class="send__container__bottom__controls">
                        <div class="">
                            <app-button [disabled]="!componentParams.isSendDataValid"
                                    (click)="nextClicked($event)" 
                                    class="send__container__bottom__controls__button">
                                next
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send__top-gradient"></div>
        </ng-template>
    </div>

    <ng-template #addressTemplate>
        <input class="address-input" maxlength="1000"
                name="address" formControlName="address"
                placeholder="Paste recipient address here"
                (input)="addressInputUpdated($event.target.value)"
                [class.incorrect]="!componentParams.addressValidation"/>
        <ng-container *ngIf="addressValidation$ | async as addressValidation">
            <div class="address-type" *ngIf="addressValidation.is_valid">{{componentParams.validationResult}}</div>
            <div class="address-validator" *ngIf="!addressValidation.is_valid">
                Invalid wallet address
            </div>
        </ng-container>
    </ng-template>

    <ng-template #typeTemplate>
        <div class="switch">
            <div #regular class="switch__regular" 
                [class.selected]="componentParams.switcherSelectedValue === transactionTypes.regular"
                (click)="switcherClicked($event, transactionTypes.regular)">Regular</div>
            <div #offline class="switch__offline"
                [class.selected]="componentParams.switcherSelectedValue === transactionTypes.offline"
                (click)="switcherClicked($event, transactionTypes.offline)">Offline</div>
            <div #selector class="selector"
                [ngStyle]="{'left': componentParams.switcherSelectedValue === transactionTypes.regular ? 
                    0 + 'px' : regular.clientWidth + 'px',
                    'width': componentParams.switcherSelectedValue === transactionTypes.regular ?
                    regular.clientWidth + 'px' : offline.clientWidth + 'px'}">
                {{componentParams.switcherSelectedValue}}
            </div>
        </div>
    </ng-template>

    <ng-template #amountTemplate>
        <div class="amount-form">
            <input class="amount-form__input" 
                name="amount" formControlName="amount" appNumbersOnly 
                [class.incorrect-amount]="!componentParams.isEnoughAmount"
                placeholder="0"/>
            <div class="asset-selector">
                <span class="asset-selector__selected" #selected (click)="currencySelectorClicked($event)">
                    <img class="asset-selector__selected__icon" 
                        src="{{ 'assets/images/modules/wallet/components/card/'
                        +(selectedAssetValue.asset_id === 0 ? 'icon-beam' 
                        : ('asset-' + selectedAssetValue.asset_id))+'.svg' }}">
                    <span class="asset-selector__selected__name">
                        {{selectedAssetValue.metadata.unit_name}}
                    </span>
                    <span class="asset-selector__selected__arrow"></span>
                </span>
                <div class="asset-selector__dropdown" *ngIf="componentParams.isAssetDropdownVisible" 
                        appClickOutside (clickOutside)="onClickedOutside($event)">
                    <div class="asset-selector__dropdown__content">
                        <ul class="asset-selector__dropdown__column">
                            <li *ngFor="let item of assets" 
                                    class="asset-selector__dropdown__item"
                                    [class.active]="item === selectedAssetValue" 
                                    (click)="selectAssetItemClicked(item)">
                                <img class="asset-selector__dropdown__item__icon" 
                                    src="{{ 'assets/images/modules/wallet/components/card/'
                                        +(item.asset_id === 0 ? 'icon-beam' 
                                        : ('asset-' + item.asset_id))+'.svg' }}">
                                <span class="asset-selector__dropdown__item__name">
                                    {{item.metadata.unit_name}}
                                </span> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="amount-validator" *ngIf="!componentParams.isEnoughAmount">
            Insufficient funds: you would need {{componentParams.notEnoughtValue}} 
            {{selectedAssetValue.metadata.unit_name}} to complete the transaction
        </div>
        <div class="amount-rate" *ngIf="componentParams.isEnoughAmount">
            {{values.amountToSend | rate}}
        </div>
        <div class="amount-available" *ngIf="selectedAssetStatus.available > 0">
            <ng-container >
                <span class="amount-available__title">
                    AVAILABLE
                </span>
                <div class="total">
                    <div class="total__value">
                        {{selectedAssetStatus.available | beam:'1.0-9'}} BEAM
                    </div>
                    <div class="total__add-all" (click)="addAllClicked($event)">
                        <img [src]="componentParams.iconButtonArrowUp">
                        <div class="total__add-all__button" >
                            add max
                        </div>
                    </div>
                </div>
                <div class="total-rate">
                    {{(selectedAssetStatus.available | beam:'1.0-9') | rate}}
                </div>
            </ng-container>
        </div>
    </ng-template>

    <ng-template #commentTemplate>
        <input class="comment-input" 
            name="comment" formControlName="comment"
            placeholder="Enter comment"/>
    </ng-template>
</form>



<div *ngIf="componentParams.isFullScreen && componentParams.popupOpened" class="full-popup-opened"></div>