@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.send {
    //overflow: hidden;
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, rgba(218, 104, 245, 0), rgba(218, 104, 245, 0.5));
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__back {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            @include normal-text;
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    &__container {
        z-index: 10;
        margin: 30px 0;
        display: flex;
        color: #ffffff;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1; 

        &__address,
        &__amount,
        &__fee,
        &__comment {
            width: 100%;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.05);
            display: flex;
            flex-direction: column;
        }

        &__amount,
        &__comment,
        &__fee {
            margin-top: 20px;
        }

        &__amount {
            &__content {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                line-height: .8;
                width: 100%;
            }
        }

        &__comment,
        &__fee {
            display: flex;
            flex-direction: column;

            &__content {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                line-height: .8;
                flex-direction: column;
                width: 100%;
            }
        }

        &__bottom {
            margin-top: auto;
            align-self: center;

            &__controls {
                margin-top: 20px;
                display: flex;
                justify-content: center;

                &__button {
                    margin-left: 20px;
                    @include ui-button($btn-send, $btn-full-xsm) {
                        font-size: 14px;
                    }
        
                    @include ui-button-next-icon()
                }
            }

            &__info {
                @include normal-text;
                margin-top: 30px;
                max-width: 370px;
                opacity: 0.5;
                font-family: 'ProximaNovaIT', sans-serif;
                font-size: 14px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}

.controls {
    margin: auto auto 20px auto;
    &__button {
        @include ui-button($btn-send, $btn-md) {
        }

        @include ui-button-next-icon()
    }

    &__button.disabled {
        @include ui-button($btn-send, $btn-md) {
            opacity: 0.2;
            cursor: default;
        }
    }
}

.container-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    cursor: default;

    &__control {
        display: flex;
    }
}

.container-header.expandable {
    cursor: pointer;
}

.container-header span {
    @include normal-text;
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.address-input {
    @include normal-text;
    background: rgba(255, 255, 255, 0);
    font-family: 'ProximaNova', sans-serif;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 14px;
    color: #ffffff;
    resize:none;
    max-height: 200px;
    margin-top: 15px;
}

.address-input:focus {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    outline-width: 0;
    font-size: 14px;
    color: #ffffff;
}

.address-input::placeholder {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    letter-spacing: 0.26px;
    color: rgba(255, 255, 255, .2);
}

.address-input.incorrect {
    border-bottom: 2px solid #ff625c;
    color: #ff625c;
}

.address-input.incorrect:focus {
    color: #ff625c;
}

.address-validator {
    @include normal-text;
    margin-top: 5px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 13px;
    line-height: 1.23;
    color: #ff625c;
}

.amount-form {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__input {
        @include normal-text;
        background: rgba(255, 255, 255, 0);
        font-family: 'ProximaNova', sans-serif;
        border: none;
        width: calc(100% - 50px);
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        resize: none;
        color: #da68f5;
        max-height: 50px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.34px;
    }

    &__input:focus {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        outline-width: 0;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.68px;
        color: #da68f5;
    }

    &__input::placeholder {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.68px;
        color: #da68f5;
    }

    &__input.incorrect-amount {
        border-bottom: 2px solid #ff625c;
        color: #ff625c;
    }

    &__input.incorrect-amount:focus,
    &__input.incorrect-amount::placeholder {
        color: #ff625c;
    }
}

.amount-validator {
    @include normal-text;
    margin-top: 10px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 13px;
    line-height: 1.23;
    color: #ff625c;
}

.amount-currency {
    width: 45px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    &__currency {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 16px;
        color: #ffffff;
        margin-left: 10px;
        cursor: default;
    }
}

.amount-rate {
    margin-top: 5px;
    font-family: 'ProximaNova', sans-serif;
    @include normal-text;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

.amount-available {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__title {
        opacity: 0.5;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3.11px;
        color: #ffffff;
    }
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    &__value {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        color: #ffffff;
    }

    &__add-all {
        margin-left: auto;
        cursor: pointer;
        display: flex;

        &__button {
            margin-left: 15px;
            @include normal-text;
            font-family: 'ProximaNovaBold', sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: #da68f5;
        }
    }

    &__add-all button:hover {
        box-shadow: none !important;
    }
}

.total-rate {
    opacity: 0.5;
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    font-size: 12px;      
    color: #ffffff;
}

.fee {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.comment-input,
.fee__input {
    @include normal-text;
    background: rgba(255, 255, 255, 0);
    font-family: 'ProximaNova', sans-serif;
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    resize: none;
    font-size: 14px;
    letter-spacing: 0.26px;
    color: #ffffff;
    max-height: 50px;
}

.comment-input:focus,
.fee__input:focus {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    outline-width: 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.68px;
    color: #ffffff;
}

.comment-input::placeholder,
.fee__input::placeholder {
    @include normal-text;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, .3);
}

.comment-input.incorrect,
.fee__input.incorrect {
    border-bottom: 2px solid #ff625c;
    color: #ff625c;
}

.comment-input.incorrect:focus,
.fee__input.incorrect:focus,
.comment-input.incorrect::placeholder,
.fee__input.incorrect::placeholder {
    color: #ff625c;
}

.fee-input-validator {
    @include normal-text;
    margin-top: 10px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 13px;
    line-height: 1.23;
    color: #ff625c;
}

@media (min-width: 400px) {
    .container-header span {
        letter-spacing: 3.11px;
    }

    .amount-form {
        &__input {
            font-size: 36px;
            font-weight: 300;
            letter-spacing: 0.68px;
            width: calc(100% - 110px);
        }

        &__input::placeholder,
        &__input:focus {
            font-size: 36px;
        }
    }

    .amount-currency {
        width: 105px;
        
        &__logo {
            height: 26px;
            width: 26px;
        }

        &__currency {
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 0.6px;
        }
    }

    .left-row {
        width: calc((100% - 10px) / 2);

        &__address,
        &__amount,
        &__fee,
        &__comment {
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.05);
            display: flex;
            flex-direction: column;
        }

        &__amount,
        &__fee,
        &__comment {
            margin-top: 10px;
        }

        &__amount {
            display: flex;
            flex-direction: column;

            &__content {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                line-height: .8;
                width: 100%;
            }
        }

        &__comment,
        &__fee {
            display: flex;
            flex-direction: column;

            &__content {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                line-height: .8;
                width: 100%;
            }
        }
    }

    .right-row {
        width: calc((100% - 10px) / 2);
        margin-left: 10px;

        &__stats {
            padding: 20px 30px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.1);

            &__content {
                display: flex;
                flex-direction: row;
              
                &__titles {
                    @include normal-text;
                    font-family: 'ProximaNova', sans-serif;
                    font-size: 14px;
                    letter-spacing: 0.35px;
                    color: #8da1ad;
                }

                &__values {
                    @include normal-text;
                    font-family: 'ProximaNova', sans-serif;
                    font-size: 14px;
                    color: #ffffff;
                    margin-left: 100px;
                }

                &__values.incorrect-amount {
                    color: #ff625c;
                }
            }
        }
    }

    .send {
        height: 100%;

        &__top-gradient {
            height: 180px;
        }
        
        &__container {
            height: 100%;
            z-index: 10;
            padding: 30px 20px 0 90px;
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: unset;
        
            &__content {
                display: flex;
                flex-direction: row;
                margin-top: 30px;
            }

            &__bottom {
                margin-top: auto;
                margin-bottom: 80px;
                align-self: center;
    
                &__controls {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
    
                    &__button {
                        margin-left: 20px;
                        @include ui-button($btn-send, $btn-full-xsm) {
                            font-size: 14px;
                        }
            
                        @include ui-button-next-icon()
                    }
                }

                &__info {
                    @include normal-text;
                    margin-top: 30px;
                    max-width: 370px;
                    opacity: 0.5;
                    font-family: 'ProximaNovaIT', sans-serif;
                    font-size: 14px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .row-item {
        margin-top: 30px;
    }

    .value-row-item {
        margin-top: 16px;
    }

    .rate-row-item {
        opacity: 0.5;
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 12px;
        color: #ffffff;
    }
}

.send.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.full-popup-opened {
    background-color: rgba(4, 37, 72, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}

.send-form-cl {
    display: flex;
	flex-direction: column;
    flex: 1;
}

.send-button {
    @include ui-button($btn-send, $btn-md) {
        margin-right: 7px;
    }
}

.back-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.right-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}