<header class="header">
    <div class="header__beta">
        <img class="header__beta__icon" [src]="iconBeta"/>
        Beta masternet version. Don’t store large amounts. 
    </div>
    <div class="header__container" *ngIf="!isFullScreen">
        <div class="header-status-wrapper"></div>
        <div class="header-logo-wrapper">
            <app-header-logo class="header__container__logo"></app-header-logo>
        </div>
        <div class="header-full-wrapper">
            <img class="header__container__full-sc-control" (click)="openFull()" [src]="iconFull" />
        </div>
    </div>
</header>