<div class="details">
    <div class="details__header">
        <div class="back-control-wrapper">
            <img class="details__header__back" (click)="backClicked()" [src]="iconBack"/>
        </div>
        <div class="title-wrapper">
            <div class="details__header__title">TRANSACTIONS</div>
        </div>
        <div class="right-wrapper"></div>
    </div>
    <ng-container *ngIf="transaction$ | async as data">
        <div class="details__amount" [class.receive]="data.income" [class.send]="!data.income">
            <div class="details__amount__value" *ngIf="!privacyMode">{{ data.value | beam:'1.0-9'}} BEAM</div>
            <div class="details__amount__status" [class.privacy-enabled]="privacyMode">
                {{ data.status_string }}
            </div>
        </div>
        <div class="details__container">
            <div class="details__container__header">DETAILS</div>
            <div class="details-title">DATE</div>
            <div class="details-value">{{data.create_time * 1000 | date:'d MMM y | HH:MM'}}</div>
            <div class="details-title">CONFIRMATION STATUS</div>
            <div class="details-value">Confirmed</div>
            <div class="details-title">SENDER</div>
            <div class="details-value">{{data.sender}}</div>
            <div class="details-title">RECEIVER</div>
            <div class="details-value">{{data.receiver}}</div>
            <div class="details-title">TRANSACTION FEE</div>
            <div class="details-value">{{data.fee}} GROTH</div>
            <div class="details-title">TRANSACTION ID</div>
            <div class="details-value">{{data.txId}}</div>
            <div class="details-title">KERNEL ID</div>
            <div class="details-value">{{data.kernel}} GROTH</div>
        </div>
    </ng-container>
    
    <div class="details__top-gradient"></div>
</div>