@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.details {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(204, 100, 234, 0), #035b8f);
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__back {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 3px;
            text-align: center;
        }
    }

    &__amount {
        margin: 42px 8px 0 8px;
        background-color: rgba(35, 193, 255, .1);
        height: 106px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        &__circle {
            width: 45px;
            height: 45px;
            background-color: #07345a;
            border-radius: 30px;
            position: absolute;
            top: 135px;
            left: 165px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__value {
            margin: 36px auto 0 auto;
            font-family: 'ProximaNovaSemiBold', sans-serif;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        &__status {
            margin: 10px auto 0 auto;
            font-family: 'ProximaNovaSemiIT', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        &__status.privacy-enabled {
            margin-top: 60px;
        }
    }

    &__container {
        margin: 30px 0 0 0;
        padding: 20px;
        background-color: rgba(35, 193, 255, .1);
        display: flex;
        flex-direction: column;

        &__header {
            font-family: 'ProximaNovaBold', sans-serif;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
}

.tr-details {
    &__specs {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__utxo {
            display: flex;
            flex-direction: column;
            
            &__header {
                height: 56px;
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.05);
                @include normal-text;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.5);

                &__icon {
                    margin-left: 12px;
                }

                &__icon.list-visible {
                    transform: rotate(180deg);
                }
            }

            &__list {
                display: flex;
                flex-direction: column;
                padding: 0 20px;

                &__item {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;

                    &__value {
                        @include normal-text;
                        margin-left: 10px;
                        font-size: 14px;
                        font-family: 'ProximaNova', sans-serif;
                        color: #ffffff;
                    }
                }
            }
        }

        &__proof {
            margin-top: 10px;
            padding: 20px;

            &__header {
                @include normal-text;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__controls {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
        
                &__details {
                    @include ui-button($btn-cancel, $btn-nssm) {
                        height: 44px;
                        width: 164px;
                        font-size: 16px;
                    }

                    @include ui-button-proof-details-icon() {
                        width: 21px;
                        height: 14px;
                    }
                }
    
                &__copy {
                   @include ui-button($btn-cancel, $btn-nssm) {
                        height: 44px;
                        width: 164px;
                        font-size: 16px;
                        margin-left: 7px;
                   }

                   @include ui-button-proof-copy-icon() {
                        width: 16px;
                        height: 16px;
                   }
                }
            }
        }
    }
}

.details.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.details-title {
    margin-top: 30px;
    font-family: 'ProximaNovaBold', sans-serif;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.details-value {
    margin-top: 10px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    max-width: 335px;
    word-wrap: break-word;
}

.back-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.right-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}