<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav-container" mode="side" opened>
     <mat-nav-list class="sidenav-list">
      <img class="logo-image" (click)="toManager()" src="../../../assets/img/logo.png" alt="">
      <a *ngFor="let item of walletRoutes"
         mat-list-item
         (click)="sidenavItemClicked(item)"
         class="sidenav-list-item">
        <img [className]="'sidenav-image ' + item.icon"  [class.active]="item.title == activeSidenavItem.title" alt="">
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
