.wallet-utxo-container {
    background-color: rgb(30,23,44);
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.utxo-title-container {
    display: grid;
    grid-template-columns: 30px 535px auto 10px auto 30px;
}

.utxo-title-element {
    grid-column-start: 2;
    grid-column-end: 2;
}

.height-card {
    margin-top: 50px;
    grid-column-start: 3;
    grid-column-end: 3;
}

.hash-card {
    margin-top: 50px;
    grid-column-start: 5;
    grid-column-end: 5;
}

.block-card {
    height: 63px;
    padding: 0;
    box-shadow: none;
    border-radius: 10px;
    background-color: rgb(52,46,65);
    color: #ffffff;
}

.block-card-header-title {
    margin-top: 10px;
    color: #ffffff;
    margin-bottom: 4px;
}

.block-card-content-title {
    font-size: 15px;
    margin-left: 17px;
    color: #00f6d2;
}

.table-label {
    font-size: 11px;
    color: #ffffff;
}

:host ::ng-deep.mat-header-row .mat-header-cell {
    font-weight: bolder !important;
    color: #ffffff;
}

.table-container {
    display: grid;
    margin-top: 13px;
    grid-template-columns: 30px auto 30px;
}

.utxo-table {
    overflow: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    box-shadow: none;
}

.utxo-table mat-table {
    overflow: hidden;
}

.utxo-table .utxo-table-row:nth-child(n){
    background-color: rgb(52,46,65);
}

.utxo-table .utxo-table-row:nth-child(2n){
    background-color: rgb(41,34,54);
}


.utxo-table .utxo-table-header {
    background-color: rgb(52,46,65);
}

.mat-row,
.utxo-table-row {
    position: relative;
    border: none;
}
