<div class="password" [class.blur-filter]="!localParams.isFullScreen && localParams.popupOpened">
    <ng-container *ngIf="!localParams.isFullScreen">
        <div class="password__header">
            <div class="menu-control-wrapper">
                <img class="password__header__menu" (click)="backClicked($event)" [src]="iconBack"/>
            </div>
            <div class="title-wrapper">
                <div class="password__header__title">PASSWORD</div>
            </div>
            <div class="save-addr-control-wrapper"></div>
        </div>
    
        <div class="password__content">
            <div class="password__content__first-row">
                Create new password to access your wallet
            </div>
            <form class="send-form-cl" [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="submit()">
                <input class="password__content__input" 
                    #passInput
                    placeholder="Enter password"
                    (input)="passInputUpdated($event)"
                    [class.incorrect] = "localParams.Pass"
                    name="password"
                    type="password" 
                    formControlName="password"/>
                <div class="password__content__validator" 
                    *ngIf="localParams.emptyPass">
                    Please, enter password
                </div>
                <app-password [password]="passInput.value"></app-password>
                <input class="password__content__input confirm-input" 
                    #passConfirmInput 
                    placeholder="Confirm password"
                    (input)="passInputUpdated($event)" 
                    [class.incorrect] = "!localParams.isNewPassValidated || localParams.emptyConfirmPass"
                    name="passwordConfirm" 
                    type="password" 
                    formControlName="passwordConfirm"/>
                <div class="password__content__validator" 
                    *ngIf="!localParams.isNewPassValidated">
                    Passwords do not match
                </div>
                <div class="password__content__validator" 
                    *ngIf="localParams.emptyConfirmPass">
                    Please, confirm password
                </div>
            </form>
            <div class="password__content__controls">
                <app-button class="password__content__controls__next" (click)="submit()">
                    start using your wallet
                </app-button>
            </div>
        </div>
    
        <div class="password__top-gradient"></div>
    </ng-container>

    <ng-container *ngIf="localParams.isFullScreen">
        <div class="password__top-content">
            <div class="password__top-content__header">Create password</div>
            <div class="password__top-content__text">Create password to access your wallet</div>
        </div>
        <div class="password__mid-content">
            <form class="send-form-cl" [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="submit()">
                <div class="password__mid-content__pass-title">Password</div>
                <input  class="password__mid-content__input"
                    #passInput
                    placeholder="Enter password"
                    (input)="passInputUpdated($event)"
                    [class.incorrect] = "localParams.emptyPass"
                    name="password"
                    type="password"
                    formControlName="password"/>
                <div class="password__mid-content__validator"
                    *ngIf="localParams.emptyPass">
                    Please, enter password
                </div>
                <app-password [password]="passInput.value"></app-password>
                <div class="password__mid-content__confirm-pass-title">Password confirmation</div>
                <input class="password__mid-content__input"
                    #passConfirmInput
                    placeholder="Confirm password"
                    (input)="passInputUpdated($event)"
                    [class.incorrect] = "!localParams.isNewPassValidated || localParams.emptyConfirmPass"
                    name="passwordConfirm"
                    type="password"
                    formControlName="passwordConfirm"/>
                <div class="password__mid-content__validator"
                    *ngIf="!localParams.isNewPassValidated">
                    Passwords do not match
                </div>
                <div class="password__mid-content__validator"
                    *ngIf="localParams.emptyConfirmPass">
                    Please, confirm password
                </div>
            </form>
        </div>
        <div class="password__bottom-content">
            <app-button class="password__bottom-content__back-button" (click)="backClicked()">back</app-button>
            <app-button class="password__bottom-content__start-button" (click)="submit()">
                start using your wallet
            </app-button>
        </div>
    </ng-container>
</div>

<div *ngIf="localParams.isFullScreen && localParams.popupOpened" class="full-popup-opened"></div>