<div class="password">
    <div class="password__header">
        <div class="menu-control-wrapper">
            <img class="password__header__menu" (click)="backClicked($event)" [src]="iconBack"/>
        </div>
        <div class="title-wrapper">
            <div class="password__header__title">PASSWORD</div>
        </div>
        <div class="save-addr-control-wrapper">
            <!-- <img class="addresses__header__privacy-control" (click)="privacyControl()" 
                [src]="privacyMode ? iconEnabledPrivacy : iconDisabledPrivacy"/> -->
        </div>

    </div>

    <div class="password__content">
        <div class="password__content__first-row">
            Create new password to access your wallet
        </div>
        <div class="password__content__seed">{{seed}}</div>
        <form class="send-form-cl" [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="submit()">
            <div class="form-group">
                <input  class="password__content__input" #passInput
                    name="password" type="password" formControlName="password" 
                    placeholder="Password"/>
            </div>
            <div class="form-group">
                <input class="password__content__input" #passConfirmInput
                    name="passwordConfirm" type="password" formControlName="passwordConfirm" 
                    placeholder="Confirm password"/>
            </div>
            <div class="password__content__start-button">
                <app-button class="start-button">start using your wallet</app-button>
            </div>
        </form>
    </div>

    <div class="password__top-gradient"></div>
</div>