.wallet-transactions-container {
    background-color: rgb(30,23,44);
    color: #ffffff;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    overflow: auto;
    font-family: "SFProDisplay", sans-serif !important;
}

.wallet-title-container {
    display: grid;
    grid-template-columns: 30px auto 138px 20px 138px 20px 138px 30px;
}

.wallet-title-element {
    grid-column-start: 2;
    grid-column-end: 2;
}

.status-cards-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30px auto 30px auto 30px;
}

.receive-button {
    grid-column-start: 3;
    grid-column-end: 3;
    float: right;
    height: 38px;
    margin-top: 67px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: rgb(11,204,247);
}

.send-button {
    grid-column-start: 5;
    grid-column-end: 5;
    float: right;
    height: 38px;
    margin-top: 67px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: rgb(218,104,245);
}

.swap-button {
    grid-column-start: 7;
    grid-column-end: 7;
    float: right;
    height: 38px;
    margin-top: 67px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: rgb(0,246,210);
}

.icon-swap,
.icon-receive-blue,
.icon-send-blue {
    margin-right: 15px;
    margin-bottom: 2px;
}

.block-card {
    height: 215px;
    padding: 0;
    box-shadow: none;
    border-radius: 10px;
    background-color: rgb(52,46,65);
    color: #ffffff;
}

.block-card.available-card {
    grid-column-start: 2;
    grid-column-end: 2;
}

.block-card.height-card {
    grid-column-start: 4;
    grid-column-end: 4;
}

.block-card-header-title {
    margin-top: 25px;
    margin-left: 25px;
    color: #ffffff;
}

.block-card-content {
    margin-left: 40px;
    margin-top: 10px;
}

.block-card-content-available {
    color: #00f6d2;
    font-weight: lighter;
    font-size: 30px;
}

.block-card-content-beam {
    color: #00f6d2;
    font-weight: lighter;
    font-size: 19px;
    margin-left: 4px;
}

.card-container {
    display: grid;
    grid-template-columns: 30px repeat(3, auto) 30px;
}

.table-container {
    display: grid;
    margin-top: 13px;
    grid-template-rows: 30px auto;
    grid-template-columns: 30px auto 30px;
}

.transaction-title {
    margin: 0 30px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.transactions-table {
    overflow: auto;
    max-height: 46vh;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    box-shadow: none;
}

.transactions-table mat-table {
    overflow: hidden;
}

.receiving-container {
    grid-column-start: 2;
    grid-column-end: 2;
}

.sending-container {
    grid-column-start: 3;
    grid-column-end: 3;
}

.maturing-container {
    grid-column-start: 4;
    grid-column-end: 4;
}

.block-card-content .receiving-container,
.block-card-content .sending-container,
.block-card-content .maturing-container{
    float: left;
    width: 125px;
}

.block-card-content .receiving-container .title,
.block-card-content .sending-container .title,
.block-card-content .maturing-container .title{
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.block-card-content .receiving-container .value {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0bccf7;
}
.block-card-content .sending-container .value {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #da68f5;
}

.block-card-content .maturing-container .value {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.block-card-content .receiving-container .icon,
.block-card-content .sending-container .icon,
.block-card-content .maturing-container .icon{
    width: 30px;
    height: 30px;
    margin-left: 48px;
    margin-top: 13px;
}

.transactions-table .transactions-table-row:nth-child(n){
    background-color: rgb(41,34,54);
}

.transactions-table .transactions-table-row:nth-child(4n){
    background-color: rgb(52,46,65);
}


.transactions-table .transactions-table-header {
    background-color: rgb(52,46,65);
}

.mat-row,
.transactions-table-row {
    position: relative;
    border: none;
}

.transactions-table-row:not(.expanded) {
    cursor: default;
    border: none;
}

.transactions-table-row.expanded {
    border: none;
}

.mat-column-expandedDetail {
    height: 190px;
}

.table-label {
    color: #ffffff;
    font-size: 11px;
}

.table-label.amount,
.income.amount,
.outcome.amount{
    font-size: 18px;
}

.icon-header,
.icon-cell {
    max-width: 65px;
}

.actions-header,
.actions-cell {
    max-width: 10px;
}

.expanded-info-container {
    display: grid;
    grid-template-columns: 175px 600px;
}

.details-table {
  border: none;
  background-color: rgb(62,56,74);
}

.details-table .mat-row {
    min-height: 25px;
}

.details-table .info-header-row,
.details-table .mat-header-cell{
    border: none;
    color: #ffffff;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    min-height: 30px;
}

.details-table .name-cell {
    color: #8da1ad;
    max-width: 160px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.details-table .value-cell {
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.expand-table-row {
    background-color: rgb(62,56,74);
}

.receiver-cell,
.receiver-cell-header {
    min-width: 520px;
}

:host ::ng-deep.mat-header-row .mat-header-cell {
    font-weight: bolder !important;
    color: #ffffff;
}

.income {
    color: rgb(14,184,221);
}

.outcome {
    color: rgb(218,104,245);
}

.status-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.options-selector .options-items {
    z-index: 10;
    width: 176px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(14,184,221);
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    right: 15px;
    background-color: rgb(52,46,65);

}

.options-selector .options-items .item {
    margin: 14px 0 10px 20px;
    height: 15px;
    font-size: 11px;
    color: #ffffff;
    cursor: pointer;
}

.options-selector .options-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

