<div class="qr-popup" appClickOutside (clickOutside)="closePopup()">
    <img class="qr-popup__close-icon" [src]="iconClose" (click)="closePopup()"/>
    <ng-container *ngIf="receiveData$ | async as receiveData">
        <qrcode class="qr-popup__code" [qrdata]="dataToQr(receiveData)" [width]="140" [errorCorrectionLevel]="'M'"></qrcode>

        <div class="qr-popup__address-header">TRANSACTION ADDRESS</div>
        <div class="qr-popup__address">{{receiveData.address}}</div>
        <ng-container *ngIf="receiveData.amount">
            <div class="qr-popup__amount-header">REQUESTED AMOUNT</div>
            <div class="qr-popup__amount">{{receiveData.amount}}</div>
        </ng-container>
        <div class="qr-popup__copy">
            <app-button class="copy-button" (click)="copyTokenClicked()" 
                ngxClipboard [cbContent]="receiveData.address">copy transation address</app-button>
        </div>
    </ng-container>
</div>

<div class="snackbar" *ngIf="isSnackbarVisible">
    <span class="snackbar__text">Address copied to clipboard</span>
</div>