<section class="manager-content-container">
  <mat-toolbar class="manager-header-container">
    <img class="logo-image" src="../../../assets/img/logo.png" alt="">
    <span class="logo-title">Wallet manager</span>
    <span class="example-spacer"></span>
    <span class="add-wallet-control" (click)="openDialog()">
      <mat-icon class="add-wallet-icon" >add_circle</mat-icon>
      <span class="add-wallet-text">Add wallet</span>
    </span>
  </mat-toolbar>
  <ng-container *ngFor="let element of wallets" #listItems>
    <mat-card [attr.data-letter]="element.name" class="block-card available-card" (click)="showWallet(element.port)">
      <mat-card-header class="block-card-header">
        <mat-card-subtitle class="block-card-header-title">Wallet: {{ element.name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="remove-wallet-icon" (click)="removeWallet($event, element)">remove_circle</mat-icon>
      <mat-card-content class="block-card-content">
        <div class="block-card-content-title">Current height: {{ element.current_height }}</div>
        <div class="block-card-content-title">Port: {{ element.port }}</div>
        <div class="block-card-content-title">Difficulty: {{ element.difficulty }}</div>
        <div class="block-card-content-title">Available: {{ element.available / 100000000 }} BEAM</div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</section>
