<div class="proof" (click)="closePopup($event)">
    <div class="proof__container" #proofContainer (click)="$event.stopPropagation()">
        <img class="proof__cancel-icon" [src]="popupCloseIcon" (click)="closePopup($event)">
        <div class="proof__title">Payment proof</div>
        <div class="proof__content">
           
            <ng-container *ngIf="proofLoaded">
                <div class="details" *ngIf="proofLoaded">
                    <div class="details__item-title">CODE</div>
                    <div class="details__item-value">{{proofData.code}}</div>
                    <div class="details__header">
                        <div class="details__header__title">DETAILS</div>
                        <div class="details__header__controller"></div>
                    </div>
                    <div class="details__item-title">SENDER</div>
                    <div class="details__item-value">{{proofData.sender}}</div>
                    <div class="details__item-title">RECEIVER</div>
                    <div class="details__item-value">{{proofData.receiver}}</div>
                    <div class="details__item-title">AMOUNT</div>
                    <div class="details__item-value">{{proofData.amount | beam:'1.0-9'}} BEAM</div>
                    <div class="details__item-title">KERNEL ID</div>
                    <div class="details__item-value">{{proofData.kernelId}}</div>
                </div>
            </ng-container>
        <div class="proof__controls" *ngIf="proofLoaded">
            <div class="proof__controls__copy-code">
                <app-button class="copy-button" ngxClipboard [cbContent]="proofDataToCp()">copy details</app-button>
            </div>
            <div class="proof__controls__copy">
                <app-button class="copy-button" ngxClipboard [cbContent]="copyCodeClicked()">copy code</app-button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isFullScreen && popupOpened" class="full-popup-opened"></div>