@import 'ui-mixins';
@import './styles';

:host {
    height: 0;
}

.confirm {
    border-radius: 10px;
    background-color: #003f6f;
    position: absolute;
    width: 335px;
    height: 206px;
    left: 50%;
    margin-left: -167px;
    top: 50%;
    margin-top: -103px;
    display: flex;
    flex-direction: column;
    z-index: 1500;

    &__title {
        @include normal-text;
        margin: 30px auto 0 auto;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.06;
        text-align: center;
        color: #ffffff;
    }

    &__input {
        @include normal-text;
        margin-top: 30px;
        margin-left: 20px;
        height: 35px;
        background: rgba(255, 255, 255, 0);
        font-family: 'ProximaNova', sans-serif;
        border: none;
        width: 295px;
        border-bottom: 2px solid #00f6d2;
        font-size: 14px;
        color: #ffffff;
        resize:none;
        max-height: 40px;
    }

    &__input:focus {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        outline-width: 0;
        font-size: 14px;
        color: #ffffff;
    }

    &__input::placeholder {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        color: rgba(255, 255, 255, .3);
    }

    &__controls {
        display: flex;
        margin-top: 30px;
        margin-left: 20px;

        &__ok {
            margin-left: 13px;
            
            @include ui-button($btn-ok, $btn-nssm) {
            }

            @include ui-button-ok-icon()
        }

        &__cancel {
            
            @include ui-button($btn-cancel, $btn-nssm) {
            }

            @include ui-button-cancel-icon()
        }
    }
}

@media (min-width: 400px) {
    .confirm {
        border-radius: 10px;
        background-color: #003f6f;
        position: absolute;
        width: 460px;
        height: 632px;
        left: 50%;
        margin-left: -230px;
        top: 50%;
        margin-top: -316px;
        display: flex;
        flex-direction: column;
        z-index: 1500;

        &__container {
            padding: 30px;
            height: 632px;
            display: flex;
            flex-direction: column;

            &__title {
                @include normal-text;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.06;
                text-align: center;
                color: #ffffff;
            }

            &__send-title {
                margin-top: 20px;
            }

            &__utxo-title {
                margin-top: 30px;
            }

            &__send-value {
                margin-top: 10px;
                max-width: 400px;
                word-wrap: break-word;
            }

            &__line {
                margin-top: 30px;
                display: flex;
                flex-direction: row;

                &__amount {
                    display: flex;
                    flex-direction: column;

                    &__value {
                        margin-top: 7px;
                        @include normal-text;
                        font-family: 'ProximaNovaSemiBold', sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.34px;
                        color: #c061e0;
                    }
                }

                &__fee {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;

                    &__value {
                        margin-top: 7px;
                        @include normal-text;
                        font-family: 'ProximaNovaSemiBold', sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.34px;
                        color: #c061e0;
                    }
                }
            }

            &__utxo-value {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #ffffff;
                margin-top: 10px;
            }

            &__prompt {
                @include normal-text;
                opacity: 0.5;
                font-family: 'ProximaNovaIT', sans-serif;
                font-size: 14px;
                color: #ffffff;
                margin-top: 30px;
            }

            &__input {
                @include normal-text;
                margin-top: 30px;
                height: 30px;
                width: 400px;
                background: rgba(255, 255, 255, 0);
                font-family: 'ProximaNova', sans-serif;
                border: none;
                border-bottom: 2px solid #00f6d2;
                font-size: 14px;
                color: #ffffff;
                resize:none;
                max-height: 40px;
            }
    
            &__input.incorrect {
                border-bottom: 2px solid #ff625c;
                color: #ff625c;
            }
    
            &__input:focus {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                outline-width: 0;
                font-size: 14px;
                color: #ffffff;
            }
    
            &__input.incorrect:focus {
                color: #ff625c;
            }
    
            &__input::placeholder {
                @include normal-text;
                font-family: 'ProximaNova', sans-serif;
                font-size: 14px;
                color: rgba(255, 255, 255, .3);
            }
    
            &__validator {
                @include normal-text;
                margin-top: 5px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 13px;
                line-height: 1.23;
                color: #ff625c;
            }

            &__controls {
                display: flex;
                flex-direction: row;
                width: 267px;
                margin: auto auto 0 auto;
        
                &__send {
                    margin-left: 20px;
                    
                    @include ui-button($btn-send, $btn-nssm) {
                        width: 117px;
                        height: 38px;
                    }
        
                    @include ui-button-send-icon()
                }
        
                &__cancel {
                    @include ui-button($btn-cancel, $btn-nssm) {
                        width: 129px;
                        height: 38px;
                    }
        
                    @include ui-button-cancel-icon()
                }
            }
        }
    }
    
    .title-text {
        @include normal-text;
        opacity: 0.5;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #ffffff;
    }

    .value-text {
        @include normal-text;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        color: #ffffff;
    }

    p {
        margin: 0;
    }
}
