<div class="confirm" appClickOutside (clickOutside)="closePopup()">
    <ng-container *ngIf="!isFullScreen">
        <form class="send-form-cl" [formGroup]="confirmForm" autocomplete="off" novalidate (ngSubmit)="submit()">
            <div class="confirm__title">Transaction confirmation</div>
            <div class="form-group">
                <input class="confirm__input" type="password"
                    name="password" formControlName="password" 
                    placeholder="Enter password"/>
            </div>
        </form>
        <div class="confirm__controls">
            <div class="confirm__controls__cancel">
                <app-button class="copy-button" (click)="cancelClicked($event)" >cancel</app-button>
            </div>
            <div class="confirm__controls__ok">
                <app-button class="copy-button" (click)="submit($event)" >ok</app-button>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="isFullScreen">
        <div class="confirm__container">
            <div class="confirm__container__title">Transaction confirmation</div>
            <div class="confirm__container__send-title title-text">TRANSACTION ADDRESS</div>
            <div class="confirm__container__send-value value-text">{{sendData.address}}</div>
            <div class="confirm__container__line">
                <div class="confirm__container__line__amount">
                    <div class="confirm__container__line__amount__title title-text">
                        AMOUNT
                    </div>
                    <div class="confirm__container__line__amount__value">
                        {{sendData.amount.toFixed() | beam:'1.0-9'}} BEAM
                    </div>
                </div>
                <div class="confirm__container__line__fee">
                    <div class="confirm__container__line__fee__title title-text">
                        TRANSACTION FEE
                    </div>
                    <div class="confirm__container__line__fee__value">
                        {{sendData.fee.toFixed()}} GROTH
                    </div>
                </div>
            </div>
            <div class="confirm__container__utxo-title title-text">TOTAL UTXO VALUE</div>
            <div class="confirm__container__utxo-value">{{getTotalUtxo()}}</div>
            <div class="confirm__container__prompt">
                <p>For the transaction to complete, the recipient must get online</p>
                <p>within the next 12 hours and you should get online within 2 hours</p>
                <p>afterwards.</p>
            </div>
            <form class="send-form-cl" *ngIf="isPassCheckEnabled"
                [formGroup]="confirmForm" autocomplete="off" novalidate (ngSubmit)="submit()">
                <div class="form-group">
                    <input class="confirm__container__input" type="password" (input)="passUpdated()"
                        name="password" formControlName="password" [class.incorrect]="!isCorrectPass"
                        placeholder="Enter password"/>
                    <div class="confirm__container__validator" *ngIf="!isCorrectPass">Incorrect password</div>
                </div>
            </form>
            <div class="confirm__container__controls">
                <div class="confirm__container__controls__cancel">
                    <app-button class="copy-button" (click)="cancelClicked($event)">cancel</app-button>
                </div>
                <div class="confirm__container__controls__send">
                    <app-button class="copy-button" (click)="submit($event)">send</app-button>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="isFullScreen && popupOpened" class="full-popup-opened"></div>