<ng-container *ngIf="isFullScreen">
    <div class="main">
        <div class="main__content">
            <ng-container *ngIf="walletStatus$ | async as walletStatus">
                <div class="main__content__header">
                    <div class="main__content__header__title">Wallet</div>
                    <app-button class="main__content__header__send-button" [routerLink]="sendRoute">send</app-button>
                    <app-button class="main__content__header__receive-button" [routerLink]="receiveRoute">receive</app-button>
                </div>
                <div class="main__content__state"
                    *ngIf="walletStatus.available !== undefined"
                    [class.reduced]="walletStatus.receiving === 0 && walletStatus.sending === 0">
                    <div class="available">
                        <img class="available__logo" [src]="iconBeamFull">
                        <div class="available__container">
                            <div class="available__container__title" [class.grayed]="privacyMode">Available</div>
                            <span class="available__container__value" *ngIf="!privacyMode">
                                {{walletStatus.available | beam:'1.0-9'}} BEAM
                            </span>
                            <img class="available__container__value" [src]="iconEnabledPrivacyGrayed" 
                                *ngIf="privacyMode">
                        </div>
                    </div>
                    <ng-container *ngIf="walletStatus.receiving > 0 || walletStatus.sending > 0">
                        <div class="main__content__state__separator"></div>
                        <div class="in-progress">
                            <div class="in-progress__sent">
                                <div class="in-progress__sent__title" [class.grayed]="privacyMode">In progress</div>
                                <div class="in-progress__sent__value">
                                    <img class="in-progress__sent__value__logo" *ngIf="!privacyMode" [src]="iconSent">
                                    <span class="in-progress__sent__value__data" *ngIf="!privacyMode">
                                        -{{walletStatus.sending | beam:'1.0-9'}} BEAM
                                    </span>
                                    <img [src]="iconEnabledPrivacyGrayed" 
                                        *ngIf="privacyMode">
                                </div>
                            </div>
                            <div class="in-progress__receive" *ngIf="!privacyMode">
                                <img class="in-progress__receive__logo" [src]="iconReceived">
                                <span class="in-progress__receive__value" *ngIf="!privacyMode">
                                    +{{walletStatus.receiving | beam:'1.0-9'}} BEAM
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="flex-row">
                    <ng-container *ngIf="componentSettings.isGetCoinsVisible && !dataService.getCoinsState.getState()">
                        <div class="main__content__get-coins"
                                [class.validation-visible]="componentSettings.isValidationVisible">
                            <img class="main__content__get-coins__close-icon"
                                [src]="iconClose"
                                (click)="closeGetCoinsMessage()"/>
                            <div class="main__content__get-coins__text"
                                    [class.validation-not-visible]="!componentSettings.isValidationVisible">
                                See the wallet in action. Get a very small amount of Beams from the community faucet.
                            </div>
                            <div class="main__content__get-coins__link" 
                                [class.validation-not-visible]="!componentSettings.isValidationVisible"
                                (click)="getCoinsClicked($event)">
                                <img class="main__content__get-coins__link__logo" [src]="iconGetCoinsButton">
                                <span class="main__content__get-coins__link__text">get coins</span>
                            </div>
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="componentSettings.validationStateLoaded && componentSettings.validationState">
                        <div class="main__content__validate" 
                                [class.get-coins-visible]="componentSettings.isGetCoinsVisible">
                            <img class="main__content__validate__close-icon"
                                [src]="iconClose"
                                *ngIf="!componentSettings.isAvailableEnough"
                                (click)="closeVerificationMessage()"/>
                            <div class="main__content__validate__text" 
                                    [class.getcoins-not-visible]="!componentSettings.isGetCoinsVisible"
                                    [class.enough]="componentSettings.isAvailableEnough">
                                Write down and validate your seed phrase so you can always recover your funds.
                            </div>
                            <div class="main__content__validate__link"
                                [class.getcoins-not-visible]="!componentSettings.isGetCoinsVisible"
                                (click)="seedVerificationClicked($event)">
                                    Secure your phrase
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="transactions$ | async as transactions">
                <ng-container>
                    <div class="main__content__subtitle">TRANSACTIONS</div>
                    <div class="main__content__selector">
                        <div class="selector" (click)="selectorItemAllClicked()">
                            <div class="selector__title" 
                                [class.active]="trSelectorActiveTitle === selectorTitlesData.ALL">
                                {{selectorTitlesData.ALL}}</div>
                            <div class="selector__bottom-line"
                                *ngIf="trSelectorActiveTitle === selectorTitlesData.ALL"></div>
                        </div>
                        <div class="selector" (click)="selectorItemInProgressClicked()">
                            <div class="selector__title" 
                                [class.active]="trSelectorActiveTitle === selectorTitlesData.IN_PROGRESS">
                                {{selectorTitlesData.IN_PROGRESS}}</div>
                            <div class="selector__bottom-line"
                                *ngIf="trSelectorActiveTitle === selectorTitlesData.IN_PROGRESS"></div>
                        </div>
                        <div class="selector" (click)="selectorItemSentClicked()">
                            <div class="selector__title" 
                                [class.active]="trSelectorActiveTitle === selectorTitlesData.SENT">
                                {{selectorTitlesData.SENT}}</div>
                            <div class="selector__bottom-line" 
                                *ngIf="trSelectorActiveTitle === selectorTitlesData.SENT"></div>
                        </div>
                        <div class="selector" (click)="selectorItemReceivedClicked()">
                            <div class="selector__title" 
                                [class.active]="trSelectorActiveTitle === selectorTitlesData.RECEIVED">
                                {{selectorTitlesData.RECEIVED}}</div>
                            <div class="selector__bottom-line" 
                                *ngIf="trSelectorActiveTitle === selectorTitlesData.RECEIVED"></div>
                        </div>
                    </div>
                    <app-table *ngIf="transactions.length > 0"
                        [privacy]="privacyMode"
                        [tableType]="tableType"
                        [tableColumns]="tableColumns" 
                        [tableData]="transactions"></app-table>
                        
                    <ng-container *ngIf="transactions.length === 0">
                        <img class="main__content__empty-tr-icon" [src]="iconEmpty">
                        <div class="main__content__empty-tr-text">Your transaction list is empty</div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="main__top-gradient"></div>
    </div>    
</ng-container>

<ng-container *ngIf="!isFullScreen">
    <div class="main" [class.blur-filter]="!isFullScreen && (modalOpened || popupOpened)">
        <ng-container *ngIf="walletStatus$ | async as walletStatus">
            <div class="main__header">
                <div class="menu-control-wrapper">
                    <img #sidemenu class="main__header__menu" (click)="sideMenuClicked($event)" [src]="iconMenu"/>
                </div>
                <div class="title-wrapper">
                    <div class="main__header__title">WALLET</div>
                </div>
                <div class="privacy-control-wrapper">
                    <img class="main__header__privacy-control" (click)="privacyControlClicked()" 
                        [src]="privacyMode ? iconEnabledPrivacy : iconDisabledPrivacy"/>
                </div>
            </div>
            <div class="main__controls">
                <app-button class="main__controls__send-button" [routerLink]="sendRoute">send</app-button>
                <app-button class="main__controls__receive-button" [routerLink]="receiveRoute">receive</app-button>
            </div>
            <ng-container *ngIf="componentSettings.isGetCoinsVisible">
                <div class="main__get-coins">
                    <img class="main__get-coins__close-icon"
                        [src]="iconClose"
                        (click)="closeGetCoinsMessage()"/>
                    <div class="main__get-coins__text">
                        See the wallet in action. Get a very small amount of Beams from the community faucet.
                    </div>
                    <div class="main__get-coins__link"
                        (click)="getCoinsClicked($event)">
                        <img class="main__get-coins__link__logo" [src]="iconGetCoinsButton">
                        <span class="main__get-coins__link__text">get coins</span>
                    </div>
                </div>
            </ng-container>
            
            <ng-container *ngIf="componentSettings.validationStateLoaded && componentSettings.validationState">
                <div class="main__validate">
                    <img class="main__validate__close-icon"
                        [src]="iconClose"
                        *ngIf="!componentSettings.isAvailableEnough"
                        (click)="closeVerificationMessage()"/>
                    <div class="main__validate__text"
                            [class.enough]="componentSettings.isAvailableEnough">
                        Write down and validate your seed phrase so you can always recover your funds.
                    </div>
                    <div class="main__validate__link"
                        (click)="seedVerificationClicked($event)">
                            Secure your phrase
                    </div>
                </div>
            </ng-container>
            <div class="main__available">
                <div class="main__available__title">AVAILABLE</div>
                <div class="main__available__container" *ngIf="!privacyMode">
                    <img class="main__available__container__logo" [src]="iconBeam">
                    <span class="main__available__container__value" *ngIf="!privacyMode">
                        {{walletStatus.available | beam:'1.0-9'}} BEAM
                    </span>
                </div>
            </div>
            <div class="main__in-progress" 
                *ngIf="!privacyMode && (walletStatus.receiving > 0 || walletStatus.sending > 0)">
                <div class="main__in-progress__title">IN PROGRESS</div>
                <div class="main__in-progress__container-sent">
                    <img class="main__in-progress__container-sent__logo" [src]="iconSent">
                    <span class="main__in-progress__container-sent__value" *ngIf="!privacyMode">
                        - {{walletStatus.sending | beam:'1.0-9'}} BEAM
                    </span>
                </div>
                <div class="main__in-progress__container-receive">
                    <img class="main__in-progress__container-receive__logo" [src]="iconReceived">
                    <span class="main__in-progress__container-receive__value" *ngIf="!privacyMode">
                        + {{walletStatus.receiving | beam:'1.0-9'}} BEAM
                    </span>
                </div>
            </div>
        </ng-container>

        <div class="main__transactions">
            <ng-container *ngIf="transactions$ | async as transactions">
                <div class="main__transactions__header">
                    <div class="main__transactions__header__title">
                        <span class="main__transactions__header__title__text">TRANSACTIONS</span>
                    </div>
                    <div class="main__transactions__header__show-all" *ngIf="transactions.length > 0">
                        <span class="main__transactions__header__show-all__text"
                            (click)="showAllTransactions()">Show all</span>
                    </div>
                </div>
                <div class="main__transactions__content">
                    <ng-container *ngIf="transactions.length > 0">
                        <div class="transcaction-container" *ngFor="let item of transactions">
                            <ng-container *ngIf="i < 5">
                                <div class="main__transactions__content__common-item"
                                        appStatusColor [appStatusColorTransaction]="item">
                                    <div class="main__transactions__content__common-item__value">
                                        <app-status-icon [transaction]="item"></app-status-icon>
                                        <span class="tr-receive-text">{{item.income ? 'Receive' : 'Send'}}</span>
                                        <span class="tr-receive-value" *ngIf="!privacyMode">
                                            <ng-container>{{getValueSign(item)}}</ng-container>
                                             {{ item.value | beam:'1.0-9'}} BEAM
                                        </span>        
                                    </div>
                                    <div class="main__transactions__content__common-item__status">
                                        {{ item.status_string }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="transactions.length === 0">
                        <img class="main__transactions__content__empty-tr-icon" [src]="iconEmpty">
                        <div class="main__transactions__content__empty-tr-text">Your transaction list is empty</div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <div class="main__top-gradient"></div>
    </div>
</ng-container>

<div *ngIf="isFullScreen && popupOpened" class="full-popup-opened"></div>