@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.main {
    min-height: 550px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(3, 91, 143, 0), #035b8f);
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__menu {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 3px;
            text-align: center;
        }

        &__privacy-control {
            margin-right: 20px;
            cursor: pointer;
        }
    }

    &__controls {
        z-index: 10;
        display: flex;
        justify-content: center;
        margin-top: 35px;

        &__send-button {
            @include ui-button($btn-send, $btn-md) {
                margin-right: 7px;
            }

            @include ui-button-send-icon()
        }

        &__receive-button {
            @include ui-button($btn-receive, $btn-md) {
            }

            @include ui-button-receive-icon()
        }
    }

    &__available {
        height: 88px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.06);
        margin: 20px 20px 0 20px;

        &__title {
            font-family: 'ProximaNovaBold', sans-serif;
            margin: 20px 0 10px 20px;
            opacity: 0.5;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #ffffff;
        }

        &__container {
            align-items: center;
            display: flex;
            margin-left: 20px;

            &__logo {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            &__value {
                font-family: 'ProximaNova', sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
            }
        }
    }

    &__in-progress {
        height: 124px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.06);;
        margin: 20px 20px 0 20px;

        &__title {
            font-family: 'ProximaNovaBold', sans-serif;
            margin: 20px 0 10px 20px;
            opacity: 0.5;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #ffffff;
        }

        &__container-receive {
            align-items: center;
            display: flex;
            margin-left: 20px;
            margin-top: 12px;

            &__logo {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            &__value {
                font-family: 'ProximaNova', sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #0bccf7;
            }
        }

        &__container-sent {
            align-items: center;
            display: flex;
            margin-left: 20px;

            &__logo {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            &__value {
                font-family: 'ProximaNova', sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #da68f5;
            }
        }
    }

    &__transactions {
        &__header {
            margin: 20px;
            display: flex;
            justify-content: space-between;
           
            &__title {
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #ffffff;
            }

            &__show-all {
                font-family: 'ProximaNovaBold', sans-serif;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #00f6d2;
            }
        }

        &__content {
            &__receive {
                display: flex;
                flex-direction: column;
                height: 69px;
                padding: 20px 20px 0 20px;

                &__value {
                    align-items: center;
                    display: flex;
                }

                &__status{
                    margin-left: 35px;
                    margin-top: 4px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #0bccf7;
                    font-family: 'ProximaNovaIT', sans-serif;
                }
            }

            &__send {
                display: flex;
                flex-direction: column;
                height: 69px;
                padding: 20px 20px 0 20px;

                &__value {
                    align-items: center;
                    display: flex;
                }

                &__status{
                    margin-left: 35px;
                    margin-top: 4px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #da68f5;
                    font-family: 'ProximaNovaIT', sans-serif;
                }
            }  
            
            &__empty-tr-icon {
                display: flex;
                margin: 95px auto 0 auto;
            }

            &__empty-tr-text {
                font-family: 'ProximaNova', sans-serif;
                margin: 20px auto 95px auto;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                opacity: .5;
            }
        }
    }
}

@media (min-width: 400px) {
    .main {
        &__content {
            z-index: 10;
            padding: 30px 20px 0 90px;

            &__header {
                display: flex;
                &__title {
                    font-family: 'SFUIDisplay-Medium', sans-serif;
                    font-size: 36px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                }

                &__send-button {
                    margin-left: auto;

                    @include ui-button($btn-send, $btn-full-sm) {
                        margin-right: 20px;
                    }
        
                    @include ui-button-send-icon()
                }
        
                &__receive-button {
                    @include ui-button($btn-receive, $btn-full-md) {
                    }
        
                    @include ui-button-receive-icon()
                }
            }

            &__state {
                margin-top: 30px;
                width: 100%;
                height: 67px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.06);
                display: flex;

                &__separator {
                    width: 1px;
                    height: 35px;
                    margin: auto 0;
                    flex-shrink: 0;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
    
    .available {
        width: 50%;
        flex-shrink: 1;
        display: flex;
        align-items: center;

        &__logo {
            margin-left: 20px;
        }

        &__container {
            margin-left: 20px;

            &__title {
                font-family: 'ProximaNova', sans-serif;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #92abba;
            }

            &__value {
                font-family: 'SFProDisplayRegular', sans-serif;
                margin-top: 5px;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;
            }
        }
    }

    .in-progress {
        width: 50%;
        flex-shrink: 1;
        display: flex;
        align-items: center;

        &__sent {
            margin-left: 20px;

            &__title {
                font-family: 'ProximaNova', sans-serif;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #92abba;
            }

            &__value {
                display: flex;
                align-items: center;
                margin-top: 5px;

                &__data {
                    margin-left: 10px;
                    font-family: 'SFProDisplayRegular', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #da68f5;
                }
            }
        }

        &__receive {
            margin-top: 19px;
            display: flex;
            align-items: center;
            margin-left: 75px;

            &__value {
                margin-left: 10px;
                font-family: 'SFProDisplayRegular', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #0bccf7;
            }
        }
    }
}


.main.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.tr-send-text,
.tr-receive-text {
    font-family: 'ProximaNovaBold', sans-serif;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.tr-send-value {
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: auto;
    color: #da68f5;
}

.tr-receive-value {
    font-family: 'ProximaNovaBold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: auto;
    color: #0bccf7;
}

.menu-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.privacy-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}

.transcaction-container:nth-child(odd)  {
    background-color: rgba(255, 255, 255, 0.03);
}