<ng-container *ngIf="values.length > 0" >
    <div class="cards">
        <ng-container *ngFor="let asset of values">
            <div *ngIf="asset.asset_id === 0 || 
                    (asset.asset_id > 0 && (asset.available > 0 || asset.receiving > 0 || 
                    asset.maturing > 0 || asset.sending > 0))">
                <div #card [className]="'card'+ '--color-' + asset.asset_id" [style.background-image]="asset.bgStyle">
                    <img class="card__icon" [src]="asset.iconUrl">
                    <div class="card__data">
                        <div class="card__data__value">
                            <span>{{ asset.available / grothsValue }}</span>
                            <span class="card__data__value__uname">{{asset.assetData.unit_name}}</span>
                            <span class="card__data__value__arrow" (click)="showDetails(asset)"></span>
                        </div>
                        <div class="card__data__rate" *ngIf="asset.asset_id === 0">{{ (asset.available / grothsValue) | rate }}</div>
                        <div class="card__data__locked" *ngIf="asset.locked > 0">Locked: {{ asset.locked }}</div>
                    </div>
                </div>
                <div class="details" *ngIf="asset.isDetailsVisible" appClickOutside (clickOutside)="hideDetails(asset)">
                    <div class="details__header">
                        <div class="details__header__selector">
                            <div class="selector" (click)="balanceClicked(asset)">
                                <div class="selector__title"
                                    [class.active]="selectorActiveTitle === selectorTitlesData.BALANCE">
                                        {{selectorTitlesData.BALANCE}}
                                </div>
                                <div class="selector__bottom-line" 
                                    *ngIf="selectorActiveTitle === selectorTitlesData.BALANCE"></div>
                            </div>
                            <div class="selector" (click)="assetInfoClicked(asset)" *ngIf="asset.asset_id > 0">
                                <div class="selector__title"
                                    [class.active]="selectorActiveTitle === selectorTitlesData.ASSET_INFO">
                                        {{selectorTitlesData.ASSET_INFO}}
                                </div>
                                <div class="selector__bottom-line" 
                                    *ngIf="selectorActiveTitle === selectorTitlesData.ASSET_INFO"></div>
                            </div>
                        </div>
                        <div class="details__balance" *ngIf="selectorActiveTitle === selectorTitlesData.BALANCE">
                            <div class="details__balance__item">
                                <div class="details__balance__item__title">Available</div>
                                <div class="details__balance__item__value">
                                    <div>
                                        {{ asset.available / grothsValue }} {{ asset.assetData.unit_name }}
                                    </div>
                                    <div class="balance-rate" *ngIf="asset.asset_id === 0">
                                        {{ (asset.available / grothsValue) | rate }}
                                    </div>
                                </div>
                            </div>

                            <div class="details__balance__item column">
                                <div class="details__balance__item__title">Maturing</div>
                                <div class="details__balance__item__value">
                                    <div>
                                        {{ asset.maturing / grothsValue }} {{ asset.assetData.unit_name}}
                                    </div>
                                    <div class="balance-rate" *ngIf="asset.asset_id === 0">
                                        {{ (asset.maturing / grothsValue) | rate }}
                                    </div>
                                </div>
                            </div>

                            <div class="details__balance__item column">
                                <div class="details__balance__item__title">Receiving</div>
                                <div class="details__balance__item__value">
                                    <div>
                                        {{ asset.receiving / grothsValue }} {{ asset.assetData.unit_name }}</div>
                                    <div class="balance-rate" *ngIf="asset.asset_id === 0">
                                        {{ (asset.receiving / grothsValue) | rate }}
                                    </div>
                                </div>
                            </div>

                            <div class="details__balance__item column">
                                <div class="details__balance__item__title">Sending</div>
                                <div class="details__balance__item__value">
                                    <div>
                                        {{ asset.sending / grothsValue }} {{ asset.assetData.unit_name }}
                                    </div>
                                    <div class="balance-rate" *ngIf="asset.asset_id === 0">
                                        {{ (asset.sending / grothsValue) | rate }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="details__info" *ngIf="selectorActiveTitle === selectorTitlesData.ASSET_INFO">
                            <div class="details__info__mand">
                                <img class="details__info__mand__icon" [src]="asset.iconUrl">
                                <span class="details__info__mand__name">{{ asset.assetData.asset_name }}</span>
                                <span class="details__info__mand__unit">{{ asset.assetData.unit_name }}</span>
                            </div>
                            <div class="details__info__links">
                                <div class="item-link" 
                                    *ngIf="asset.assetData.site_url !== undefined"
                                    (click)="websiteClicked(asset.assetData.site_url)">Website</div>
                                <div class="item-link" 
                                    *ngIf="asset.assetData.pdf_url !== undefined"
                                    (click)="websiteClicked(asset.assetData.pdf_url)">Description paper</div>
                            </div>
                            <div class="details__info__optional">
                                <div class="details__info__optional__item">
                                    <div class="item-title">Asset ID</div>
                                    <div class="item-value">{{ asset.asset_id }}</div>
                                </div>

                                <div class="details__info__optional__item column">
                                    <div class="item-title">Smallest unit name</div>
                                    <div class="item-value">{{ asset.assetData.smallest_unit_name }}</div>
                                </div>

                                <div class="details__info__optional__item column"
                                        *ngIf="asset.assetData.short_desc !== undefined">
                                    <div class="item-title">Short description</div>
                                    <div class="item-value">{{ asset.assetData.short_desc }}</div>
                                </div>

                                <div class="details__info__optional__item column" 
                                        *ngIf="asset.assetData.long_desc !== undefined">
                                    <div class="item-title">Long description</div>
                                    <div class="item-value">{{ asset.assetData.long_desc }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </ng-container>
        
        
    </div>
</ng-container>