@import 'ui-mixins';

@function setBgImage($color) {
    @return linear-gradient(107deg, $color 2%, rgba(0, 69, 143, .3) 98%);
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 221px;
    height: 75px;
    margin: 0 10px 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
        width: 26px;
        height: 26px;
    }

    &__data {
        margin-left: 10px;

        &__value {
            font-family: 'ProximaNova', sans-serif;
            font-size: 16px;
            color: #fff;
            display: flex;
            align-items: center;

            &__uname {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 105px;
                white-space: nowrap;
                margin-left: 5px;
            }

            &__arrow {
                cursor: pointer;
                margin-left: 5px;
                width: 0; 
                height: 0; 
                border-left: 4.5px solid transparent;
                border-right: 4.5px solid transparent;
                border-top: 5px solid #8da1ad;
            }
        }

        &__rate {
            font-family: 'ProximaNova', sans-serif;
            opacity: 0.7;
            color: #fff;
            font-size: 12px;
        }

        &__locked {
            font-family: 'ProximaNova', sans-serif;
            opacity: 0.5;
            color: #fff;
            font-size: 12px;
            margin-top: 5px;
        }
    }

    &--color-0 {
        @extend .card;
        background-image: setBgImage(rgba(114, 253, 255, .3));
    }

    &--color-1 {
        @extend .card;
        background-image: setBgImage(rgba(42, 207, 29, .3));
    }

    &--color-2 {
        @extend .card;
        background-image: setBgImage(rgba(255, 187, 84, .3));
    }

    &--color-3 {
        @extend .card;
        background-image: setBgImage(rgba(216, 133, 255, .3));
    }

    &--color-4 {
        @extend .card;
        background-image: setBgImage(rgba(0, 142, 255, .3));
    }

    &--color-5 {
        @extend .card;
        background-image: setBgImage(rgba(255, 116, 107, .3));
    }

    &--color-6 {
        @extend .card;
        background-image: setBgImage(rgba(145, 227, 0, .3));
    }

    &--color-7 {
        @extend .card;
        background-image: setBgImage(rgba(255, 231, 90, .3));
    }

    &--color-8 {
        @extend .card;
        background-image: setBgImage(rgba(150, 67, 255, .3));
    }

    &--color-9 {
        @extend .card;
        background-image: setBgImage(rgba(57, 91, 255, .3));
    }
    
    &--color-10 {
        @extend .card;
        background-image: setBgImage(rgba(255, 59, 59, .3));
    }

    &--color-11 {
        @extend .card;
        background-image: setBgImage(rgba(115, 255, 124, .3));
    }

    &--color-12 {
        @extend .card;
        background-image: setBgImage(rgba(255, 168, 108, .3));
    }

    &--color-13 {
        @extend .card;
        background-image: setBgImage(rgba(255, 58, 190, .3));
    }

    &--color-14 {
        @extend .card;
        background-image: setBgImage(rgba(0, 174, 225, .3));
    }

    &--color-15 {
        @extend .card;
        background-image: setBgImage(rgba(255, 82, 0, .3));
    }

    &--color-16 {
        @extend .card;
        background-image: setBgImage(rgba(100, 100, 255, .3));
    }
    
    &--color-17 {
        @extend .card;
        background-image: setBgImage(rgba(255, 122, 33, .3));
    }

    &--color-18 {
        @extend .card;
        background-image: setBgImage(rgba(99, 175, 255, .3));
    }

    &--color-19 {
        @extend .card;
        background-image: setBgImage(rgba(200, 31, 104, .3));
    }
}

.details {
    padding: 14px 14px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.14);
    background-color: #003f6f;
    position: absolute;
    display: flex;
    margin-top: -30px;
    margin-left: 20px;
    z-index: 1000;

    &__header {
        &__selector {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__balance {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: row;

            &__title {
                width: 70px;
                font-family: 'ProximaNova', sans-serif;
                font-size: 12px;
                color: #fff;
            }

            &__value {
                margin-left: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 215px;
                white-space: nowrap;
                font-family: 'ProximaNova', sans-serif;
                font-size: 12px;
                color: #fff;
            }
        }
    }

    &__info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    
        &__mand {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__icon {
                width: 26px;
                height: 26px;
            }
    
            &__name {
                margin-left: 15px;
                font-family: 'ProximaNovaBold', sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100px;
                white-space: nowrap;
            }
    
            &__unit {
                display: flex;
                text-align: center;
                margin-left: 15px;
                padding: 5px 10px 4px;
                opacity: 0.07;
                border-radius: 12px;
                background-color: rgba(255, 255, 255, .07);
                opacity: 0.7;
                font-family: 'ProximaNova', sans-serif;
                font-size: 12px;
                color: #fff;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100px;
                white-space: nowrap;
            }
        }

        &__links {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
        }

        &__optional {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            &__item {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.item-link {
    font-family: 'ProximaNova', sans-serif;
    font-size: 12px;
    color: #05e2c2;
    cursor: pointer;
    margin-left: 40px
}

.item-title {
    opacity: 0.5;
    font-family: 'ProximaNova', sans-serif;
    font-size: 12px;
    color: #fff;
    width: 140px;
}

.item-value {
    margin-left: 25px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 12px;
    color: #fff;
    max-width: 235px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.uname {
    white-space: nowrap;
}

.short {
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.long {
    display: -webkit-box;
   -webkit-line-clamp: 15; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.column {
    margin-top: 15px;
}

.selector {
    cursor: pointer;
    &__title {
        margin: 3px 15px;
        font-family: 'ProximaNova', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #92abba;
    }

    &__title:hover,
    &__title.active {
        color: #fff;
    }

    &__bottom-line {
        width: 100%;
        height: 2px;
        box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
        background-color: #00f6d2;
    }
}

.balance-rate {
    opacity: 0.5;
    font-size: 10px;
}