@import 'ui-mixins';
@import './styles';

:host {
    flex: 1 0 auto;
    background-color: #042548;
}

.privacy {
    min-height: 530px;
    display: flex;
    flex-direction: column;

    &__top-gradient {
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(3, 91, 143, 0), #035b8f);
        z-index: 1;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        z-index: 10;
        width: 100%;

        &__menu {
            cursor: pointer;
            margin-left: 20px;
        }

        &__title {
            @include normal-text;
            font-family: 'ProximaNovaSemiBold', sans-serif;
            margin: 0 auto;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 3px;
            text-align: center;
        }

        &__privacy-control {
            margin-right: 20px;
            cursor: pointer;
        }
    }

    &__container {
        z-index: 10;
        margin: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;

        &__complete-vf,
        &__ask-pass,
        &__show-owner-key,
        &__change-pass {
            display: flex;
            cursor: pointer;
        }
    }
}

.privacy.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.menu-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
}

.title-wrapper {
    flex-shrink: 0;
}

.save-addr-control-wrapper {
    width: 50%;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}

.privacy-item-title {
    @include normal-text;
    margin-top: 20px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    color: #92abba;
}

.privacy-item-slide {
    margin-left: 70px;
    margin-top: 20px;
}

::ng-deep .mat-slide-toggle-label {
    flex-direction: unset !important;
    display: block !important;
    flex: unset !important;
}

::ng-deep .mat-slide-toggle-thumb-container {
    width: 16px !important;
    height: 16px !important;
    top: 0 !important;
    left: 0 !important;
    position: relative !important;
    display: flex;
    align-self: center;
}

::ng-deep .mat-slide-toggle-thumb {
    width: 16px !important;
    height: 16px !important;
    background-color: #8da1ad !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    width: 16px !important;
    height: 16px !important;
    box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
    background-color: #00f6d2 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element  {
    background-color: #00f6d2 !important;
}

::ng-deep .mat-slide-toggle-bar {
    display: flex;
    width: 36px !important;
    height: 20px !important;
    border-radius: 10px !important;
    border: solid 1px #8da1ad !important;
    background-color: rgba(141, 161, 173, 0.1);
    padding-left: 1px;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(141, 161, 173, 0.1);
}
