<section class="wallet-send-container">
  <div class="wallet-title-container">
    <app-status-title class="wallet-title-element" [title]="'Wallet'"></app-status-title>
  </div>
  <div class="send-title">Send Beam</div>
  <div class="send-main-container">
    <div class="send-items">
      <div>Send To</div>
      <input autocomplete="off" class="send-to-address"
             type="text" #sendToInput id="sendToInput"/>
    </div>

    <div class="amount-items">
      <div>Send</div>
      <input autocomplete="off" type="text" #amountInput
             (focusout)="inputFocusOut($event)" (keypress)="inputKeypress($event)"/>
      <span style="color: rgb(218,104,245); font-size: 24px;">BEAM</span>
    </div>

    <div class="comment-items">
      <div>Comment</div>
      <input autocomplete="off" class="send-to-address"
             type="text" #commentInput id="commentInput"/>
      <span style="float: left; font-style: italic; opacity: 0.3; margin-top: 10px; font-size: 14px">Comments are local and won't be shared</span>
    </div>

    <div class="btc-amount-items">
      <div>Receive</div>
      <input autocomplete="off" type="text" #amountBtcInput
        (focusout)="inputFocusOut($event)" (keypress)="inputKeypress($event)"/>
      <span style="color: rgb(14,184,221); font-size: 24px;">BTC</span>
    </div>

    <div class="rate-items" style="display: none;">
      <div>Rate</div>
      <div style="opacity: 0.3; margin-top: 10px">1 BEAM = 0.0009828 BTC</div>
      <div style="margin-top: 20px">
        <div style="float:left;">
          <div>Offered on</div>
          <div style="opacity: 0.3; margin-top: 10px">1 Oct 2018 | 3:45 PM (GMT +3)</div>
        </div>

        <div style="float:left; margin-left: 50px;">
          <div>Expires on</div>
          <div style="opacity: 0.3; margin-top: 10px">3 Oct 2018 | 3:45 PM (GMT +3)</div>
        </div>
      </div>
    </div>

    <div class="fee-items">
      <div>Transaction fee</div>
      <input autocomplete="off" class="send-to-address"
             type="text" #feeInput id="feeInput"/>
      <span>GROTH</span>
    </div>
  </div>
  <div class="controls-container">
    <button mat-raised-button (click)="cancelClicked()" class="close-button">
      <img src="../../../assets/img/icon-cancel.svg" class="icon-back">
      cancel
    </button>
    <button mat-raised-button (click)="sendClicked()" class="copy-button">
      <img src="../../../assets/img/icon-swap.svg" class="icon-send-blue">
      swap
    </button>
  </div>
</section>
