<div class="utilities" [class.blur-filter]="popupOpened">
    <div class="utilities__header">
        <div class="menu-control-wrapper">
            <img class="utilities__header__menu" (click)="backClicked($event)" [src]="iconBack"/>
        </div>
        <div class="title-wrapper">
            <div class="utilities__header__title">UTILITIES</div>
        </div>
        <div class="save-addr-control-wrapper">
        </div>
    </div>

    <div class="utilities__container">
        <div class="utilities__container__get-beams"
                (click)="getFromFaucet()">
            <span class="util-item-title">Get beams from the community faucet</span>
        </div>
        <div class="utilities__container__payment-proof"
                (click)="paymentProofClicked($event)">
            <span class="util-item-title">Payment proof</span>
        </div>
    </div>
    
    <div class="utilities__top-gradient"></div>
</div>