<a class="actions-control" (click)="menuTrigger.openMenu()" (click)="$event.stopPropagation()">
    <button class="actions-control__button" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
        <img class="actions-icon" [src]="iconActions">
    </button>
</a>
<mat-menu class="actions-container" #menu="matMenu">
    <ng-container *ngIf="tableType === tableTypesConsts.TRANSACTIONS">
        <!-- <button mat-menu-item>
            <img class="actions-icon" [src]="shareIcon">
            <span class="actions-text">Share details</span>
        </button>
        <button mat-menu-item>
            <img class="actions-icon" [src]="copyIcon">
            <span class="actions-text">Copy details</span>
        </button> -->
        <!-- <button mat-menu-item>
            <img class="actions-icon" [src]="repeatIcon">
            <span class="actions-text">Repeat transaction</span>
        </button> -->
        <button mat-menu-item 
            (click)="cancelTransactionClicked()"
            [class.disabled]="!this.isAbleToCancel(element.status_string)"
            (mouseover)="componentIcons.cancelActualIcon = this.isAbleToCancel(element.status_string) ? 
                componentIcons.cancelIconActive : componentIcons.cancelIcon"
            (mouseout)="componentIcons.cancelActualIcon = componentIcons.cancelIcon">
                <img class="actions-icon" [src]="componentIcons.cancelActualIcon">
                <span class="actions-text">Cancel transaction</span>
        </button>
        <button mat-menu-item
            (click)="deleteTransactionClicked()"
            [class.disabled]="!this.isAbleToDelete(element.status_string)"
            (mouseover)="componentIcons.deleteActualIcon = this.isAbleToDelete(element.status_string) ? 
                componentIcons.deleteIconActive : componentIcons.deleteIcon"
            (mouseout)="componentIcons.deleteActualIcon = componentIcons.deleteIcon">
                <img class="actions-icon" [src]="componentIcons.deleteActualIcon">
                <span class="actions-text">Delete transaction</span>
        </button>
    </ng-container>
    <ng-container *ngIf="tableType === tableTypesConsts.TRANSACTIONS_NOT_SENT">
        <button mat-menu-item 
            (click)="cancelTransactionClicked()"
            [class.disabled]="!this.isAbleToCancel(element.status_string)"
            (mouseover)="componentIcons.cancelActualIcon = this.isAbleToCancel(element.status_string) ? 
                componentIcons.cancelIconActive : componentIcons.cancelIcon"
            (mouseout)="componentIcons.cancelActualIcon = componentIcons.cancelIcon">
                <img class="actions-icon" [src]="componentIcons.cancelActualIcon">
                <span class ="actions-text">Cancel transaction</span>
        </button>
        <button mat-menu-item
            (click)="deleteTransactionClicked()"
            [class.disabled]="!this.isAbleToDelete(element.status_string)"
            (mouseover)="componentIcons.deleteActualIcon = this.isAbleToDelete(element.status_string) ? 
                componentIcons.deleteIconActive : componentIcons.deleteIcon"
            (mouseout)="componentIcons.deleteActualIcon = componentIcons.deleteIcon">
                <img class="actions-icon" [src]="componentIcons.deleteActualIcon">
                <span class="actions-text">Delete transaction</span>
        </button>
    </ng-container>
    <ng-container *ngIf="tableType === tableTypesConsts.ADDRESSES">
        <button mat-menu-item>
            <img class="actions-icon" [src]="expireIcon" (click)="saveContactClicked($event)">
            <span class="actions-text">Expire address</span>
        </button>
        <button mat-menu-item>
            <img class="actions-icon" [src]="editIcon">
            <span class="actions-text">Edit address</span>
        </button>
        <button mat-menu-item (click)="copyAddressClicked()">
            <img class="actions-icon" [src]="copyIcon">
            <span class="actions-text">Copy address</span>
        </button>
        <button mat-menu-item (click)="deleteTransactionClicked()">
            <img class="actions-icon" [src]="deleteIcon">
            <span class="actions-text">Delete address</span>
        </button>
    </ng-container>
</mat-menu>

<!-- <div class="control">
    <div class="control__container">
        <img class="actions-icon" [src]="iconActions" (click)="changeDropdownState($event)">
    </div>
</div>
<div class="dropdown" *ngIf="isDropdownVisible" appClickOutside (clickOutside)="onClickedOutside()">
    <div class="dropdown__content">
        <ul class="dropdown__column">
            <li class="dropdown__item" (click)="fullViewClicked()">
                <img class="dropdown__item__icon" [src]="fullViewIcon">
                <span class="dropdown__item__text">Full view</span>
            </li>
            <div class="dropdown__separator"></div>
            <li class="dropdown__item" (click)="paymentProofClicked()">
                <img class="dropdown__item__icon" [src]="proofIcon">
                <span class="dropdown__item__text">Payment proof</span>
            </li>
            <li class="dropdown__item">
                <img class="dropdown__item__icon" [src]="exportIcon">
                <span class="dropdown__item__text">Export data</span>
            </li>
            <li class="dropdown__item">
                <img class="dropdown__item__icon" [src]="importIcon">
                <span class="dropdown__item__text">Import data</span>
            </li>
            <li class="dropdown__item" (click)="buyBeamClicked()">
                <img class="dropdown__item__icon" [src]="buyBeamIcon">
                <span class="dropdown__item__text">Where to buy Beam</span>
            </li>
            <li class="dropdown__item" (click)="settingsClicked()">
                <img class="dropdown__item__icon" [src]="settingsIcon">
                <span class="dropdown__item__text">Settings</span>
            </li>
            <div class="dropdown__separator"></div>
            <li class="dropdown__item" (click)="logoutClicked()">
                <img class="dropdown__item__icon" [src]="logoutIcon">
                <span class="dropdown__item__text">Logout</span>
            </li>
        </ul>
    </div>
</div> -->
