@import 'ui-mixins';
@import './styles';

:host {
    height: 0;
}

.confirm {
    border-radius: 10px;
    background-color: #003f6f;
    position: absolute;
    width: 336px;
    height: 230px;
    z-index: 1500;
    left: 50%;
    margin-left: -168px;
    top: 50%;
    margin-top: -115px;
    display: flex;
    flex-direction: column;

    &__title {
        margin: 30px auto 0 auto;
        font-family: 'ProximaNovaBold', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    &__text {
        margin-top: 20px;
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    &__controls {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &__remove {
            margin-left: 20px;
            
            @include ui-button($btn-ok, $btn-nssm) {
            }

            @include ui-button-remove-icon()
        }

        &__cancel {
            
            @include ui-button($btn-cancel, $btn-nssm) {
            }

            @include ui-button-cancel-icon()
        }
    }
}

p {
    max-width: 295px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


@media (min-width: 400px) {
    .confirm {    
        width: 460px;
        height: 220px;
        margin-left: -230px;
        margin-top: -110px;

        &__title {
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }

        &__text {
            line-height: 1.29;
        }

        &__controls {
            display: flex;
            justify-content: center;
            margin-top: 20px;
    
            &__cancel {

                @include ui-button($btn-cancel, $btn-nssm) {
                    width: 133px;
                }
            }
        }
    }
    
    p {
        max-width: none;
    }
}